.change { color: red; }

/********************************************************************************/
/* SPECIFIC LAYER STYLES
/********************************************************************************/
#pag-textos-infografia .note_pointer_left, #pag-textos-infografia .note_pointer_right {
    display: inline-table;
    position: relative;
}

#pag-textos-iconografia i {
    font-size: 27px;
    cursor: default;
}

#pag-textos-iconografia .lista_iconos i:hover {
    color: #f6ae00;
}

#pag-textos-iconografia .little i {
    font-size: 14px;
}

#pag-textos-iconografia .large i {
    font-size: 50px;
}

#pag-textos-iconografia .color i { font-size: 30px; }
#pag-textos-iconografia .color i.a { color: #0ff; }
#pag-textos-iconografia .color i.b { color: #f0f; }
#pag-textos-iconografia .color i.c { color: #00f; }
#pag-textos-iconografia .color i.d { color: #3de467; }

#pag-textos-iconografia .link i { font-size: 30px; cursor: pointer; }

#pag-textos-iconografia .effects i { font-size: 30px; color: #f00; margin: 0 10px; }
#pag-textos-iconografia .effects i.a { text-shadow: 5px 5px 10px #000; }
#pag-textos-iconografia .effects i.b { text-shadow: 10px 10px 3px #000; }
#pag-textos-iconografia .effects i.c { text-shadow: 15px 5px 5px #000;  }
#pag-textos-iconografia .effects i.d { text-shadow: 8px 0px 0px #000;  }


/********************************************************************************/
/* Solo para ejemplo de mouse over 1
/********************************************************************************/
#pag-textos-mouseover1 .mouse-over-one .button {
    background: #FFFFFF;
    border: dashed #00A5C0 1px;
    float: left;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#pag-textos-mouseover1 .mouse-over-one .button:hover {
    background: #f6ae00;
}

#pag-textos-mouseover1 .mouse-over-one {
    vertical-align: top;
}

#pag-textos-mouseover1 .contenido_sobre h5 {
    margin: 0;
}

#pag-textos-mouseover1 .contenido_sobre {
    padding: 10px;
    text-align: justify;
    box-shadow: 7px 7px 5px #cccccc;
    background: #FFFFFF;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5px;
}

#pag-textos-mouseover1 .element { height: 100px; overflow: auto; }

/********************************************************************************/
/* Solo para ejemplo de mouse over 2
/********************************************************************************/
#pag-textos-mouseover2 .mouse-over {
    background: #FFFFFF;
    border: dashed #00A5C0 1px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 10px;
}

#pag-textos-mouseover2 .mouse-over:hover {
    background: #f6ae00;
}

#pag-textos-mouseover2 .contenido_sobre {
    padding: 10px;
    text-align: justify;
    box-shadow: 7px 7px 5px #cccccc;
    background: #FFFFFF;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5px;
}

/********************************************************************************/
/* Imágenes con texto
/********************************************************************************/

#pag-contenidointeractivo-viewfirst .view-content { font-size: 12px; }
#pag-contenidointeractivo-viewfirst .view-content h2 { color: #fff; border-bottom: dotted 2px #fff; }
#image_content .view-first { margin: 0 20px; float: left; }

/********************************************************************************/
/* Actividad Quiz
/********************************************************************************/
.pag-actividades-cuestionario .chalkboard_content {
    min-height: 350px;
    height: auto;
}

.jpit_activities_quiz_question_answers { height: 150px; overflow: auto; }
.jpit_activities_quiz_board { height: 220px; }

/********************************************************************************/
/* Actividad arrastrar y soltar - apareamiento
/********************************************************************************/
#pag-actividades-arrastrar1 .chalkboard_content {
    height: auto;
}

#arrastrar1.jpit-activities-droppable .words_container {
    height: 50px;
}

#arrastrar1.jpit-activities-droppable table {
    empty-cells: show;
    clear: both;
}

#arrastrar1.jpit-activities-droppable td.droppable {
    width: 90px;
    height: 26px;
}

#arrastrar1.jpit-activities-droppable td.conection {
    width: 30px;
    border: none;
    padding: 5px 10px;
}

#arrastrar1.jpit-activities-droppable .draggable {
    width: 80px;
}

#pag-actividades-arrastrar1 .item_1 {
     left: 50px;
}

#pag-actividades-arrastrar1 .item_2 {
     left: 150px;
}

#pag-actividades-arrastrar1 .item_3 {
     left: 250px;
}

#pag-actividades-arrastrar1 .item_4 {
     left: 350px;
}

#pag-actividades-arrastrar1 .item_5 {
     left: 450px;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - muchos a uno
/********************************************************************************/
#pag-actividades-arrastrar5 .chalkboard_content {
    height: auto;
}

#arrastrar5 .droppable {
    width: 300px;
    height: 150px;
}

#arrastrar5 .draggable {
    display: inline-block;
}

/********************************************************************************/
/* Actividad seleccionar 1
/********************************************************************************/
.pag-actividades-naruto .jpit-activities-selection .col-2 > div {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

.pag-actividades-naruto .jpit-activities-selection .left {
    text-align: right;
    margin-right: 20px;
}

.pag-actividades-naruto .jpit-activities-selection .right {
    text-align: left;
}

.pag-actividades-naruto .jpit-activities-selection .left .radio {
    float: right;
    margin-left: 5px;
}

.pag-actividades-naruto .jpit-activities-selection .right .radio {
    float: left;
    margin-right: 5px;
}

/********************************************************************************/
/* Actividad seleccionar 2
/********************************************************************************/
.pag-actividades-escritores .jpit-activities-selection li {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

/********************************************************************************/
/* SCHEME
/********************************************************************************/
#pag-esquema {max-width: 900px; margin: auto;}

#pag-esquema .scheme {
    background: url(../img/esquema.png) no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 68%;
    position: relative;
}

#pag-esquema .scheme .section {
    width: 23%;
    height: 42%;
    top: 2.7%;
    position: absolute;
}

#pag-esquema .scheme .section:hover {
    background-color: #B9E6F580;
}

#pag-esquema .scheme .section.first {left: 2%;}
#pag-esquema .scheme .section.second {left: 37.4%;}
#pag-esquema .scheme .section.third {left: 75.1%;}
#pag-esquema .scheme .section.fourth {top: 57.2%; left: 2%;}

#pag-esquema .scheme .section.fifth {
    top: 57.2%;
    left: 37.4%;
    border-radius: 50%;
    height: 27.3%;
}

#pag-esquema .scheme .section.sixth {
    top: 57.2%;
    left: 75.1%;
    height: 27.3%;
    border-radius: 50% 0;
}