
:root {
    --primary-color: #02b802;
    --secondary-color:  #00877A;
    --tertiary-color: #93D500;
    --green-one: #00953B;
    --green-two: #00877A;
    font-size: 1rem;
  }


.change { color: red; }

/********************************************************************************/
/* SPECIFIC LAYER STYLES
/********************************************************************************/
#pag-textos-infografia .note_pointer_left, #pag-textos-infografia .note_pointer_right {
    display: inline-table;
    position: relative;
}

#pag-textos-iconografia i {
    font-size: 1.6875rem;
    cursor: default;
}

#pag-textos-iconografia .lista_iconos i:hover {
    color: #f6ae00;
}

#pag-textos-iconografia .little i {
    font-size: 0.875rem;
}

#pag-textos-iconografia .large i {
    font-size: 3.125rem;
}

#pag-textos-iconografia .color i { font-size: 1.875rem; }
#pag-textos-iconografia .color i.a { color: #0ff; }
#pag-textos-iconografia .color i.b { color: #f0f; }
#pag-textos-iconografia .color i.c { color: #00f; }
#pag-textos-iconografia .color i.d { color: #3de467; }

#pag-textos-iconografia .link i { font-size: 1.875rem; cursor: pointer; }

#pag-textos-iconografia .effects i { font-size: 1.875rem; color: #f00; margin: 0 10px; }
#pag-textos-iconografia .effects i.a { text-shadow: 5px 5px 10px #000; }
#pag-textos-iconografia .effects i.b { text-shadow: 10px 10px 3px #000; }
#pag-textos-iconografia .effects i.c { text-shadow: 15px 5px 5px #000;  }
#pag-textos-iconografia .effects i.d { text-shadow: 8px 0px 0px #000;  }


/********************************************************************************/
/* Solo para ejemplo de mouse over 1
/********************************************************************************/
#pag-textos-mouseover1 .mouse-over-one .button {
    background: #FFFFFF;
    border: dashed #00A5C0 1px;
    float: left;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#pag-textos-mouseover1 .mouse-over-one .button:hover {
    background: #f6ae00;
}

#pag-textos-mouseover1 .mouse-over-one {
    vertical-align: top;
}

#pag-textos-mouseover1 .contenido_sobre h5 {
    margin: 0;
}

#pag-textos-mouseover1 .contenido_sobre {
    padding: 10px;
    text-align: justify;
    box-shadow: 7px 7px 5px #cccccc;
    background: #FFFFFF;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5px;
}

#pag-textos-mouseover1 .element { height: 100px; overflow: auto; }

/********************************************************************************/
/* Solo para ejemplo de mouse over 2
/********************************************************************************/
#pag-textos-mouseover2 .mouse-over {
    background: #FFFFFF;
    border: dashed #00A5C0 1px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 10px;
}

#pag-textos-mouseover2 .mouse-over:hover {
    background: #f6ae00;
}

#pag-textos-mouseover2 .contenido_sobre {
    padding: 10px;
    text-align: justify;
    box-shadow: 7px 7px 5px #cccccc;
    background: #FFFFFF;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 5px;
}

/********************************************************************************/
/* Animaciones
/********************************************************************************/

#pag-media-animation1 .movi {
    background: url(../content/mujer.png) no-repeat;
    width: 200px;
    height: 294px;
    font-size: 50px;
}

#pag-media-animation1 .ion-arrow-right-a {
    color: green;
}

#pag-media-animation1 .ion-arrow-down-a {
    color: blue;
}


/********************************************************************************/
/* CSS3 ANIMATION
/********************************************************************************/

#pag-media-animation3 .instruction { text-align: center; }
#pag-media-animation3 .box_stressed { width: 700px; }
#pag-media-animation3 .box_connection { width: 700px;  margin: 0 auto 10px; }
#pag-media-animation3 .stave { background: url(../content/img17.png) no-repeat; width: 450px; height: 110px; margin: auto; position: relative; }
#pag-media-animation3 .musical-note-name { width: 22px; height: 20px; position: absolute; font-size: 15px; color: #16a183; opacity: 0; background: #16a183; -webkit-animation-fill-mode: backwards; animation-duration: 10s; animation-fill-mode: backwards; }

#pag-media-animation3 .musical-note { width: 15px; height: 12px; background: url(../content/img17_1.png) no-repeat; position: absolute; -webkit-animation-fill-mode: forwards; animation-name: musical-note; animation-duration: 10s; animation-fill-mode: forwards; }

@keyframes musical-note { 0% { left: 0; top: 0; } 10% { left: 46px; top: 65px; } 20% { left: 87px; top: 54px; } 30% { left: 128px; top: 42px; } 40% { left: 164px; top: 30px; } 50% { left: 200px; top: 18px; } 60% { left: 247px; top: 60px; } 70% { left: 291px; top: 48px; } 80% { left: 337px; top: 36px; } 100% { left: 388px; top: 25px; }
}

@keyframes musical-note-mi {
    0% { opacity: 0; } 10% { opacity: 0.4; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.mi { left: 44px; top: 90px;  animation-name: musical-note-mi; }

@keyframes musical-note-sol {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0.4; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.sol { left: 82px; top: 89px;  animation-name: musical-note-sol; }

@keyframes musical-note-si {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0.4; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.si { left: 129px; top: 89px;  animation-name: musical-note-si; }

@keyframes musical-note-re {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0.4; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.re { left: 164px; top: 89px;  animation-name: musical-note-re; }

@keyframes musical-note-fa {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0.4; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.fa { left: 201px; top: 89px;  animation-name: musical-note-fa; }

@keyframes musical-note-fa-down {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0.4; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.fa-down { left: 247px; top: 90px;  animation-name: musical-note-fa-down; }

@keyframes musical-note-la {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0.4; } 80% { opacity: 0; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.la { left: 291px; top: 90px;  animation-name: musical-note-la; }


@keyframes musical-note-do {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0.4; } 100% { opacity: 0; }
}
#pag-media-animation3 .musical-note-name.do { left: 337px; top: 90px;  animation-name: musical-note-do; }

@keyframes musical-note-mi-up {
    0% { opacity: 0; } 10% { opacity: 0; } 20% { opacity: 0; } 30% { opacity: 0; } 40% { opacity: 0; } 50% { opacity: 0; } 60% { opacity: 0; } 70% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 0.4; }
}
#pag-media-animation3 .musical-note-name.mi-up { left: 386px; top: 90px; -webkit-animation-fill-mode: forwards; animation-name: musical-note-mi-up; animation-duration: 10s; animation-fill-mode: forwards; }


/********************************************************************************/
/* Imágenes con texto
/********************************************************************************/

#pag-contenidointeractivo-viewfirst .view-content { font-size: 12px; }
#pag-contenidointeractivo-viewfirst .view-content h2 { color: #fff; border-bottom: dotted 2px #fff; }
#image_content .view-first { margin: 0 20px; float: left; }

/********************************************************************************/
/* Imágenes para ampliar
/********************************************************************************/
.expand-image { width: 200px; height: 200px; margin: 0 auto 5px; }

/********************************************************************************/
/* Pointers with text
/********************************************************************************/
#pag-contenidointeractivo-pointers .box_l { background: url(../content/cuerpo.png) no-repeat center top; margin: auto; width: 117px; height: 240px; position: relative; }
#pag-contenidointeractivo-pointers .note_1 { left: -30px; top: 13px; }
#pag-contenidointeractivo-pointers .note_2 { left: 72px; top: 100px; }
#pag-contenidointeractivo-pointers .note_3 { left: -45px; top: 155px; }
#pag-contenidointeractivo-pointers .note_4 { left: 75px; top: 195px; }

/********************************************************************************/
/* Actividad Quiz
/********************************************************************************/
.pag-actividades-cuestionario .chalkboard_content {
    min-height: 350px;
    height: auto;
}

.jpit_activities_quiz_question_answers { overflow: auto; }
.jpit_activities_quiz_board { height: 220px; }

/********************************************************************************/
/* Actividad Sopa de letras
/********************************************************************************/
.pag-actividades-sopa .chalkboard_content {
    min-height: 350px;
    height: auto;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - apareamiento
/********************************************************************************/
#parque-4 .chalkboard_content {
    height: auto;
}

#arrastrar1.jpit-activities-droppable .words_container {
    height: 50px;
}

#arrastrar1.jpit-activities-droppable table {
    empty-cells: show;
    clear: both;
}

#arrastrar1.jpit-activities-droppable th {
    color: #000;
    padding: 5px;
    text-align: right;
}

#arrastrar1.jpit-activities-droppable td.droppable {
    width: 43px;
    height: 43px;
}

#arrastrar1.jpit-activities-droppable td.conection {
    width: 30px;
    border: none;
    padding: 5px 10px;
}

#arrastrar1.jpit-activities-droppable .draggable {
    width: 40px;
	padding: 1px;
	border: 0;
}

#arrastrar4.jpit-activities-droppable .wrong {
    border-color: #D60C1B;
    color: #D60C1B;
    background-color: transparent;
}
/********************************************************************************/
/* Actividad arrastrar y soltar - dialogo
/********************************************************************************/
#pag-actividades-arrastrar2 .chalkboard_content {
    height: auto;
}

#arrastrar2.jpit-activities-droppable td.sources {
    padding-left: 100px;
}

#arrastrar2.jpit-activities-droppable .draggable {
    width: 90px;
    float: left;
    margin-bottom: 5px;
    clear: both;
    height: 15px;
}

#arrastrar2.jpit-activities-droppable .droppable {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    width: 100px;
    height: 25px;
}

#arrastrar2.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    border: none;
    background-color: transparent;
    color: #000;
    width: 92px;
    margin: 0;
    float: unset;
}

#arrastrar2.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped.draggable.wrong {
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - completar
/********************************************************************************/
#pag-actividades-arrastrar3 .chalkboard_content {
    height: auto;
}

#arrastrar3.jpit-activities-droppable table {
    empty-cells: show;
    border-spacing: 0 5px;
    color: #fff;
}

#arrastrar3.jpit-activities-droppable th {
    color: #000;
    padding: 5px;
    text-align: right;
    font-weight: normal;
}

#arrastrar3.jpit-activities-droppable td {
    border: 1px dashed #777777;
    text-align: left;
    width: 180px;
}

#arrastrar3.jpit-activities-droppable .draggable {
    margin: 0 5px 5px 0;
    width: 180px;
    text-align: left;
}

#arrastrar3.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    background-color: #fbf9ea;
    color: #000000;
    border-color: #fbf9ea;
    margin: 0;
}

#arrastrar3.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped.draggable.wrong {
    color: #D60C1B;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - insertar
/********************************************************************************/
#pag-actividades-arrastrar4 .chalkboard_content {
    height: auto;
}

#arrastrar4.jpit-activities-droppable table {
    empty-cells: show;
    border-spacing: 0 5px;
}

#arrastrar4.jpit-activities-droppable th {
    padding: 5px;
    text-align: right;
    border-right: none;
}

#arrastrar4.jpit-activities-droppable td {
    padding: 5px;
    border: none;
    border-bottom: 1px dashed #777777;
    text-align: left;
    width: 200px;
}

#arrastrar4.jpit-activities-droppable .draggable {
    float: left;
    margin: 0 5px 5px 0;
}

#arrastrar4.jpit-activities-droppable .wrong {
    border-color: #D60C1B;
    color: #D60C1B;
    background-color: transparent;
}

/********************************************************************************/
/* Actividad arrastrar y soltar - muchos a uno
/********************************************************************************/
#pag-actividades-arrastrar5 .chalkboard_content {
    height: auto;
}

#arrastrar5 .droppable {
    width: 300px;
    height: 150px;
}

#arrastrar5 .draggable {
    display: inline-block;
}

/********************************************************************************/
/* Actividad arrastrar y soltar multiple
/********************************************************************************/
#pag-actividades-arrastrargrupos .chalkboard_content {
    height: auto;
}

#arrastrargrupos table {
    margin: auto;
    max-width: 590px;
}

#arrastrargrupos h5 {
    text-align: center;
    font-size: 16px;
    color: #000;
    border-bottom: 2px dotted #95B0CB;
}

#arrastrargrupos td {
    height: 150px;
    vertical-align: top;
}

#arrastrargrupos td .target {
    min-height: 150px;
    width: 190px;
    overflow: auto;
}

#arrastrargrupos.jpit-activities-multidroppable .sources {
    width: 100%;
    height: 65px;
    margin: 10px auto 0;
}

#arrastrargrupos.jpit-activities-multidroppable .draggable {
    width: 165px;
    float: left;
    margin: 0 1px 5px;
}

#arrastrargrupos table .draggable.disabled {
    cursor: default;
}

#arrastrargrupos.jpit-activities-multidroppable .buttons {
    text-align: center;
    padding: 5px 0;
    clear: both;
}

/********************************************************************************/
/* Ordenamiento en matríz
/********************************************************************************/
.pag-actividades-sortable-ejemplo2 .chalkboard_content {
    height: 350px;
}

.jpit-activities-sortable.matriz ul.sortable {
    display: flex;
    flex-wrap: wrap;
    width: 155px;
    margin: auto;
    float: none;
    padding: 5px;
    border: 1px solid;
}

.jpit-activities-sortable.matriz .sortable-item {
    width: 44px;
    height: 24px;
    padding: 10px 0;
    margin: 2px;
    border: 1px solid #95B0CB;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 2px #aaa;
    background-color: #ffffff;
}

.jpit-activities-sortable.matriz ul.sortable-horizontal .sortable-item:hover {
    background-color: rgba(25, 56, 201, 0.1);
}

.jpit-activities-sortable.matriz ul.sortable-horizontal .sortable-item:hover:before {
    content: "\f263";
    font-size: 12px;
    left: 0;
    top: 0;
}

/********************************************************************************/
/* Actividad Clasificar, formato de marcador.
/********************************************************************************/
.jpit-activities-check .check_left {
    float: left;
    width: 50%;
}

.jpit-activities-check .check_left .word_content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 3px 3px 3px #dadbdc;
    margin-bottom: 10px;
    padding: 20px 10px;
    text-align: center;
    font-size: 20px;
}

.jpit-activities-check .check_right {
    float: right;
}

.jpit-activities-check .buttons {
    text-align: center;
}

.jpit-activities-check .buttons button.yes,
.jpit-activities-check .buttons button.not {
    font-size: 30px;
}

.jpit-activities-check .box_result {
    float: left;
    font-size: 20px;
    text-align: center;
}

.jpit-activities-check .box_result > div {
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #cbcccc;
    padding: 10px;
    width: 110px;
    float: left;
    margin: 0 10px;
}

.jpit-activities-check .box_result .correct {
    color: #8bc541;
}
.jpit-activities-check .box_result .hits {
    font-size:30px;
}

.jpit-activities-check .box_result .wrong {
    color: #d60c1b;
}
.jpit-activities-check .box_result .miss {
    font-size:30px;
}


/********************************************************************************/
/* Actividad marcar
/********************************************************************************/
.pag-actividades-marcar .chalkboard_content {
    height: 520px;
}

.jpit-activities-mark {
    width: 400px;
    margin: auto;
}

/********************************************************************************/
/* Actividad seleccionar 1
/********************************************************************************/
.pag-actividades-naruto .jpit-activities-selection .col-2 > div {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

.pag-actividades-naruto .jpit-activities-selection .left {
    text-align: right;
    margin-right: 20px;
}

.pag-actividades-naruto .jpit-activities-selection .right {
    text-align: left;
}

.pag-actividades-naruto .jpit-activities-selection .left .radio {
    float: right;
    margin-left: 5px;
}

.pag-actividades-naruto .jpit-activities-selection .right .radio {
    float: left;
    margin-right: 5px;
}

/********************************************************************************/
/* Actividad seleccionar 2
/********************************************************************************/
.pag-actividades-escritores .jpit-activities-selection li {
    margin-bottom: 5px;
    cursor: pointer;
    padding: 2px 5px;
}

/********************************************************************************/
/* Actividad formulario
/********************************************************************************/
.jpit-activities-form .sheet {
    background: url(../img/bg_papel.png) repeat-x left top;
    width: 410px;
    margin: auto;
    padding-top: 35px;
}

.jpit-activities-form .sheet_body {
    background-color: #f6f5f2;
    padding: 10px 20px;
    box-shadow: 3px 3px 0px #cbcccc;
}

.jpit-activities-form input[type=text] {
    border: 2px dotted #aaaaaa;
    width: 94%;
    margin-bottom: 10px;
    padding: 5px 3%;
}

.jpit-activities-form textarea {
    width: 94%;
    height: 40px;
    padding: 3%;
    border: 2px dotted #aaaaaa;
}
/********************************************************************************/
/* SCHEME
/********************************************************************************/
#pag-esquema {max-width: 900px; margin: auto;}

#pag-esquema .scheme {
    background: url(../img/esquema.png) no-repeat;
    background-size: 100%;
    width: 100%;
    padding-top: 68%;
    position: relative;
}

#pag-esquema .scheme .section {
    width: 23%;
    height: 42%;
    top: 2.7%;
    position: absolute;
}

#pag-esquema .scheme .section:hover {
    background-color: #B9E6F580;
}

#pag-esquema .scheme .section.first {left: 2%;}
#pag-esquema .scheme .section.second {left: 37.4%;}
#pag-esquema .scheme .section.third {left: 75.1%;}
#pag-esquema .scheme .section.fourth {top: 57.2%; left: 2%;}

#pag-esquema .scheme .section.fifth {
    top: 57.2%;
    left: 37.4%;
    border-radius: 50%;
    height: 27.3%;
}

#pag-esquema .scheme .section.sixth {
    top: 57.2%;
    left: 75.1%;
    height: 27.3%;
    border-radius: 50% 0;
}

.ui-widget.ui-widget-content {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 25px;
}


/*
* CUSTOM CLASSES FOR PACKAGE
*/


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-half {
    flex: 0 0 50%;
}

.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mt-20{
    margin-top: 20px;
}

.items-center {
    align-items: center;
}

.light {
    font-weight: lighter;
} 

.bold {
    font-weight: bold;
}

.mb-15 {
    margin-bottom: 15px;
}

.grey {
    color: #5c5c5b;
}

.grey {filter: grayscale(100%)}

.d-none {
    display: none;
}

.lh-30 { line-height: 30px; }

.fs-30 {font-size: 1.875rem;}
.fs-24 {font-size: 1.5rem;}
.fs-14 {font-size: .875rem;}
.fs-16 {font-size: 1rem;}
.fs-16-fix {font-size: 1rem;}
.fs-18 {font-size: 1.125rem;}
.fs-18-fix {font-size: 1.125rem;}
.fs-20 {font-size: 1.25rem;}
.black {color: #000;}
.green {color: var(--green-one) };
.green-1 {color: var(--primary-color);} 
.green-2 {color: var(--secondary-color);}
.green-3 {color: var(--tertiary-color);}

.w-80 {width: 80%;}
.w-75 {width: 75%;}
.br-10 {border-radius: 10px;}

.shadow-default {
    box-shadow: 5px 5px 5px #0000003a;
}

.green-border {
    border: 2px solid var(--green-one);
}

.highlight {
    color: var(--green-two);
}

.center {
    margin: 0 auto;
    text-align: center;
}
.justify {text-align: justify;}
.right {text-align: right;}
.left {text-align: left;}
.transparent {color: transparent;}

.b-white {
    background-color: white;
}

.white {color: white;}

.absolute {position: absolute;}
.relative {position: relative;}

.p1-img {
    width: 40px;
    margin: 0px 6px;
}

.p2-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.p2-container > img {
    max-width: 250px;
}

.p2-container .help-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    width: 200px;
}

.p2-container .help-button:hover {
    transform: translateY(-2px);
}

.p2-container .help-button h4 {
    margin: 0 auto;
    color: var(--secondary-color);
}

.p2-container .help-button img {
    width: 40%;
    margin-bottom: 5px;
}
.subpage.car-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/course-images/car-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#pag-esquema .subpage.car-bg::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    top: 15%;
    left: 25%;
    background-image: url(../img/course-images/globo-text.svg);
    background-repeat: no-repeat;
}

#pag-car-pins .subpage.car-bg::before {
    content: "";
    position: absolute;
    width: 62%;
    height: 42%;
    top: 18%;
    left: 27%;
    background-image: url(../img/course-images/pins.svg);
    background-repeat: no-repeat;
}

.subpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
}

.subpage .screen-reader {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
}

.subpage.page-columns .screen-reader {
    position: absolute;
    position: fixed;
    top: 28%;
    right: 17%;
}

#pag-listas .subpage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#pag-corte10 .subpage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.subpage .genially{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subpage#mov-graph-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/course-images/graph-mov-1.svg);
    background-repeat: no-repeat;
}

.subpage#mov-graph-1 h3{
    position: absolute;
    width: 250px;
    height: 30px;
    top: 2%;
    left: 42%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(1){
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 5%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(2){
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 28%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(3){
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 51%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(4){
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 20%;
    left: 74%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(5){
    position: absolute;
    text-align: center;
    width: 295px;
    height: 50px;
    display: flex;
    justify-content: center;
    top: 48%;
    left: 35%;
    color: white;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(6){
    position: absolute;
    text-align: center;
    width: 200px;
    height: 200px;
    top: 59%;
    left: 64%;
}
.subpage#mov-graph-1 .mov-graph-text:nth-of-type(7){
    position: absolute;
    text-align: center;
    width: 205px;
    height: 200px;
    top: 67%;
    left: 12%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(8){
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    top: 67%;
    left: 45%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(9){
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    top: 76%;
    left: 45%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(10){
    position: absolute;
    text-align: center;
    width: 300px;
    height: 70px;
    left: 57%;
    top: 65%;
}

.subpage#mov-graph-1 .mov-graph-text:nth-of-type(11){
    position: absolute;
    text-align: center;
    width: 250px;
    height: 70px;
    top: 75%;
    left: 57%;
}

section[ptitle="Contextualización"] h2 {
    color: #00953b;
}

#pag-advice-1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/course-images/valla.svg);
    border-radius: 10px;
    height: 485px;
    width: 989px;
    border-radius: 10px;
}

.semaphore-container {
    box-sizing: border-box;
    width: 80%;
    padding: 25px 120px;
    margin: 30px auto;
    box-shadow: 5px 5px 5px #0000003a;
    border: 2px solid var(--green-two);
    position: relative;
}

.semaphore-container.last-semaphore{
    padding: 10px 120px;
}

.semaphore-container#pag-semaphore-2{
    height: 300px;
}

.semaphore-container::before {
    position: absolute;
    content: "";
    width: 166px;
    height: 165px;
    left: -13%;
    top: calc(50% - 166px/2);
    background-image: url(../img/course-images/semaforo.png);
    background-repeat: no-repeat;
}

.green-semaphore .semaphore-container::before {
    background-image: url(../img/course-images/semaforo-verde.png);
    background-repeat: no-repeat;
}

.subpage.wrecks-causes > img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.wrecks-causes .fake-pop-up {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    position: absolute;
    width: 400px;
    top: 30%;
    right: 15%;
    padding: 10px 20px;
}

.wrecks-causes::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-image: url(../img/course-images/taco-hover.svg);
    background-repeat: no-repeat;
    z-index: 10;
}

.wrecks-causes#taco-1::before {
    top: 214px;
    left: 258px;
}

.wrecks-causes#taco-2::before {
    top: 127px;
    left: 269px;
}

.wrecks-causes#taco-3::before {
    top: 55px;
    left: 320px;
}

.wrecks-causes#taco-4::before {
    top: 15px;
    left: 399px;
}

.wrecks-causes#taco-5::before {
    top: 15px;
    left: 488px;
}

.wrecks-causes#taco-6::before {
    top: 56px;
    left: 566px;
}

.wrecks-causes#taco-7::before {
    top: 129px;
    left: 616px;
}

.wrecks-causes#taco-8::before {
    top: 217px;
    left: 625px;
}

.wrecks-causes#taco-6 .fake-pop-up , .wrecks-causes#taco-7 .fake-pop-up , .wrecks-causes#taco-8 .fake-pop-up  {
    right: 42%;
}


.subpage.page-columns {
    background-image: url(../img/course-images/columnas.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    height: 100%;
}

.subpage.page-columns .p-container{
    z-index: 1;
    width: 138px;
    height: 65px;
    padding: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 0;
}

.subpage.page-columns .p-container:nth-child(1) {
    left: 2%;
    top: 27%;
}
.subpage.page-columns .p-container:nth-child(2) {
    left: 23%;
    top: 27%;
}
.subpage.page-columns .p-container:nth-child(3) {
    left: 43%;
    top: 27%;
}
.subpage.page-columns .p-container:nth-child(4) {
    left: 63%;
    top: 27%;
}
.subpage.page-columns .p-container:nth-child(5) {
    left: 83%;
    top: 27%;
}

.subpage.page-columns .intro-text {
    position: absolute;
    top: -21%;
    left: 6%;
    width: 80%;
    height: auto;
}

.subpage.active.page-columns:after{
    position: absolute;
    content: "";
    top: 113px;
    left: 4px;
    width: 177px;
    height: 107px;
    background-image: url(../img/course-images/column-hover.svg);
    background-repeat: no-repeat;
}
.subpage.active.page-columns#active-2:after{
    top: 113px;
    left: 204px;
}

.subpage.active.page-columns#active-3:after{
    top: 113px;
    left: 404px;
}
.subpage.active.page-columns#active-4:after{
    top: 113px;
    left: 604px;
}
.subpage.active.page-columns#active-5:after{
    top: 113px;
    left: 804px;
}

.current-column {
    background-color: white;
    position: absolute;
    text-align: justify;
    top: -20%;
    left: calc(50% - 630px/2);
    width: 630px;
    height: auto;
    padding: 20px;
}

.politics-pesv-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 30px;
    align-items: center;
}

.politics-pesv-container img {
    min-width: 300px;
}

.subpage.security-button-hover:before{
    position: absolute;
    content: "";
    top: 229px;
    left: 84px;
    background-image: url(../img/course-images/security-button-hover.svg);
    background-repeat: no-repeat;
    width: 159px;
    height: 159px;
    z-index: 1;
}

.subpage.security-button-hover#sec-button-2:before {
    left: 249px;
}

.subpage.security-button-hover#sec-button-3:before {
    left: 413px;
}

.subpage.security-button-hover#sec-button-4:before {
    top: 204px;
    left: 574px;
    width: 150px;
    height: 150px;
}

.subpage.security-button-hover#sec-button-5:before {
    top: 207px;
    left: 719px;
    width: 143px;
    height: 143px;
}

.subpage.security-plan {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/course-images/security-plan-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.subpage.security-plan#security-plan-0 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/course-images/buttons-sec.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.subpage.security-plan:not(#security-plan-0)::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/course-images/security-plan-buttons.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.subpage.security-plan:not(#security-plan-0)::after{
    position: absolute;
    content: "";
    width: 96px;
    height: 96px;
    top: 50px;
    left: 57px;
    background-image: url(../img/course-images/security-plan-buttons-hover.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.subpage.security-plan#security-plan-2::after{
    top: 146px;
}

.subpage.security-plan#security-plan-3::after{
    top: 241px;
}

.subpage.security-plan#security-plan-4::after{
    top: 336px;
}

.subpage.security-plan#security-plan-5::after{
    top: 2px;
    left: 833px;
}

.subpage.security-plan#security-plan-6::after{
    top: 97px;
    left: 833px;
}

.subpage.security-plan#security-plan-7::after{
    top: 193px;
    left: 833px;
}

.subpage.security-plan#security-plan-8::after{
    top: 288px;
    left: 833px;
}

.subpage.security-plan#security-plan-9::after{
    top: 383px;
    left: 833px;
}

.subpage.security-plan .text-container {
    position: absolute;
    width: 570px;
    height: 55%;
    padding: 15px 25px;
    bottom: 12%;
    left: 177px;
    background-color: #ffffffd9;
}

.subpage.pdfs-security-plan{
    justify-content: unset;
}

.subpage.pdfs-security-plan h2, .subpage.pdfs-security-plan h4 {
    margin: 0;
}

.subpage.security-plan#security-plan-2 .text-container, .subpage.security-plan#security-plan-3 .text-container, .subpage.security-plan#security-plan-4 .text-container, .subpage.security-plan#security-plan-9 .text-container   {
    height: 30%;
}

.subpage#pag-graphic-pesv{
    justify-content: unset;
}

.subpage#pag-graphic-pesv h2 {
    margin: 0;
}

.subpage#pag-graphic-pesv:before {
    position: absolute;
    width: 76%;
    height: 100%;
    top: 158px;
    left: 122px;
    content: "";
    background-image: url(../img/course-images/graph-box.svg);
    background-repeat: no-repeat;
}

.subpage#pag-graphic-pesv .graph-box:nth-of-type(1){
    position: absolute;
    top: 235px;
    left: 133px;
    width: 138px;
}

.subpage#pag-graphic-pesv .graph-box:nth-of-type(2){
    position: absolute;
    top: 151px;
    left: 324px;
    width: 122px;
}

.subpage#pag-graphic-pesv .graph-box:nth-of-type(3){
    position: absolute;
    top: 181px;
    left: 530px;
    width: 181px;
}

.subpage#pag-graphic-pesv .graph-box:nth-of-type(4){
    position: absolute;
    top: 336px;
    left: 338px;
    width: 181px;
}

.subpage#pag-graphic-pesv .graph-box:nth-of-type(5){
    position: absolute;
    top: 349px;
    left: 544px;
    width: 181px;
}

.subpage#pag-graphic-pesv .graph-box:nth-of-type(6){
    position: absolute;
    top: 253px;
    left: 754px;
    width: 108px;
    color: white;
}

.subpage.strategic-plan-graphic{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/course-images/strategic-plan-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

.subpage.strategic-plan-graphic img {
    position: absolute;
    width: 98%;
    right: -150px;
    bottom: 0;
}

.graph-info {
    padding: 15px;
    position: absolute;
    width: 50%;
    left: 5%;
    bottom: 19%;
    background-color: rgba(255, 255, 255, 0.739);
}

.subpage.pag-car-1-1{
    background-image: url(../img/course-images/car-background.svg);
}

.subpage.last-page{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.jpit_activities_quiz_question_feedback{
    position: absolute;
    left: unset;
    right: unset;
    bottom: -10%;
}

#help_page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.evolution-box{
    height: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.evolution-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.evolution-item.icon{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
}

.subpage#pag-who-can .screen-reader{
    top: 55px;
}

.chequeo-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.chequeo-box .evolution-item.icon {
    display: grid;
    grid-template-columns: 6% 94%;
    grid-gap: 5px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
}

.subpage#drugs .politics-pesv-container{
    grid-template-columns: 60% 40%;
}

.subpage#speed .politics-pesv-container {
    grid-template-columns: 65% 35%;
}

.anexos-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.anexos-box .evolution-item.icon {
    grid-template-columns: 5% 95%;
    margin-bottom: 5px;
}

.jpit_activities_quiz_question_feedback {
    position: absolute;
    top: 50%;
    left: calc(50% - 422px/2);
}

.box_end{
    position: absolute;
    bottom: -5%;
    left: 0;
    right: 0;
}

.subpage.car-bg:not(#first-car):after{
    position: absolute;
    top: 52%;
    left: 40%;
    width: 400px;
    height: 158px;
    content: "";
    background-image: url(../img/course-images/globe-car.svg);
    background-repeat: no-repeat;
}

.subpage.car-bg:not(#first-car) p {
    top: 56%;
    left: 45%;
    width: 300px;
    height: 90px;
    position: absolute;
    z-index: 1;
}

/* LEARN MORE COMPONENT */
.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 60px;
}

.learn-more .learn-more-title::after {
    content: '';
    background: url(../content/81_1.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    left: -10px;
    top: -10px;
}

.learn-more .learn-more-title {
    background-color: var(--tertiary-color);
    border-radius: 45px;
    padding: 10px 60px;
    position: absolute;
    top: -25px;
    z-index: 1;
}

.learn-more .learn-more-title h2 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.learn-more .learn-more-body {
    background-color: #ddd;
    border-radius: 25px;
    max-width: 300px;
    padding: 20px 45px 0;
    position: relative;
    z-index: 0;
}
.learn-more .learn-more-body p {
    color: #424242;
    text-align: center;
    font-weight: bold;
}

.learn-more .learn-more-download-button {
    border: none;
    background: transparent;
    width: 60px;
    height: 60px;
    padding: 0;
    position: absolute;
    right: -6%;
    top: 20%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.learn-more .learn-more-download-button:hover {
    transform: scale(1.1);
}
.learn-more .learn-more-download-button:active {
    transform: scale(0.9);
}



.flex {
    display: flex;
}

.flex-half {flex: 0 0 50%;}
.flex-halfplus {flex: 0 0 55%;}
.flex-30 {flex: 0 0 30%;}
.flex-45 {flex: 0 0 45%;}


.mr-15 {
    margin-right: 15px;
}

.items-center {align-items: center;}
.items-start {align-items: flex-start;}
.justify-space {justify-content: space-between;} 

.bold {
    font-weight: bold;
}

.mb-15 {
    margin-bottom: 15px;
}

.grey {
    color: #5c5c5b;
}

.fw-regular {font-weight: normal;}
.fw-bold {font-weight: bold;}
.fs-14 {font-size: .875rem;}
.fs-16 {font-size: 1rem;}
.fs-18 {font-size: 1.125rem;}
.fs-20 {font-size: 1.25rem;}
.fs-24 {font-size: 1.5rem;}
.fs-30 {font-size: 1.875rem;}
.black {color: #000;}
.w-100 {width: 100%;}
.w-80 {width: 80%;}
.w-70 {width: 70%;}
.w-60 {width: 60%;}
.w-800 {width: 800px;}

.m-15 {
    margin: 5px;
}
.m-0 {
    margin: 0;
}

.center {
    margin: 0 auto;
    text-align: center;
}
.justify {
    text-align: justify;
}

.transparent {
    color: transparent;
}

.absolute {
    position: absolute;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

/* ANIMATIONS */

@keyframes load {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}



/* CUSTOM PAGES STYLES */


.p-6-timeline {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.p-6-timeline .timeline-element {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    font-weight: normal;
    padding: 3px;
}

.p-6-timeline .timeline-element-year {
    font-size: 1.125rem;
    font-weight: bold;
}

.p-6-timeline .timeline-1 { grid-area: 1 / 1 / 2 / 2; align-items: flex-end; border-bottom: 4px solid var(--secondary-color);}
.p-6-timeline .timeline-2 { grid-area: 1 / 2 / 2 / 3; color: var(--green-one);align-items: flex-end; border-bottom: 4px solid var(--green-one);}
.p-6-timeline .timeline-3 { grid-area: 1 / 3 / 2 / 4; align-items: flex-end; border-bottom: 4px solid var(--tertiary-color)}
.p-6-timeline .timeline-4 { grid-area: 1 / 4 / 2 / 5; color: #4d5255;align-items: flex-end; border-bottom: 4px solid #4d5255;}
.p-6-timeline .timeline-5 { grid-area: 2 / 1 / 3 / 2; align-items: flex-start; color: var(--secondary-color);}
.p-6-timeline .timeline-6 { grid-area: 2 / 2 / 3 / 3; align-items: flex-start;}
.p-6-timeline .timeline-7 { grid-area: 2 / 3 / 3 / 4; align-items: flex-start; color: var(--tertiary-color);}
.p-6-timeline .timeline-8 { grid-area: 2 / 4 / 3 / 5; align-items: flex-start;}


.p-8-esquema {
    position: relative;
}

.p-8-esquema .text-box {position: absolute; max-width: 200px;}
.p-8-esquema .text-box span{color: var(--secondary-color);}
.p-8-esquema .text-box p{margin: 0;}


.p-8-esquema .text-box.text-box-1 {left: -20%;top: 5%;}
.p-8-esquema .text-box.text-box-2 {left: -25%;top: 38%;}
.p-8-esquema .text-box.text-box-3 {left: -25%;top: 79%;}
.p-8-esquema .text-box.text-box-4 {right: -25%; top: 5%;}
.p-8-esquema .text-box.text-box-5 {right: -25%;top: 38%;}
.p-8-esquema .text-box.text-box-6 {right: -25%;top: 79%;}
.p-8-esquema .text-box.text-box-center {right: 50%;top: 50%; transform: translate(50%, -50%);}

.p-16 .icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.p-16 .icons .icon {text-align: center; width: 60px;display: flex;flex-direction: column;justify-content: flex-start;align-items: center;min-height: 100%; padding: 3px 10px;}
.p-16 .icons .icon img{height: 60px; margin: 0 auto;}
.p-16 .icons .icon p{font-size: 0.625rem; text-transform: uppercase; text-align: center; line-height: 10px; color: #00b1e2;}

.modal-box {padding: 30px; background-color: rgba(255, 255, 255, 0.6); box-shadow: 0px 3px 6px #0000004D; border-radius: 25px;}

.hover {position: absolute; width: 35%;}
#museo-11 #hover-1 {top: -3%; left: -3%;}
#museo-12 #hover-2 {top: -3%; left: 32%;}
#museo-13 #hover-3 {top: -3%; left: 68%;}

.esquema-container {position: relative;}
.esquema-container-pointer {position: absolute; width: 80px;}
.esquema-container-pointer#pointer-1 {right: 30%; top: -8%;}
.esquema-container-pointer#pointer-2 {left: 45%; bottom: 50%;}

.esquema-container-pointer#pointer-3 {left: 51%; bottom: 43%;}
.esquema-container-pointer#pointer-4 {left: 60%; bottom: 63%;}

.esquema-container-pointer#pointer-5 {left: 53%; bottom: 47%;}
.esquema-container-pointer#pointer-6 {left: 70%; bottom: 60%;}
.esquema-container-pointer#pointer-7 {left: 17%; bottom: 21%;}

.esquema-container-pointer#pointer-8 {left: 11%; bottom: 25%;}


.p-22-strat {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.strat-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-weight: normal;
    padding: 3px;
    font-size: 0.8rem;
    max-height: 120px;
    padding: 10px 5px;
}
.p-22-strat .strat-item span {font-size: 16px; font-family: 'VAG Rounded'; padding: 3px; border-radius: 25px;}
.p-22-strat .strat-item p {margin: 0;}


.p-22-strat .strat-item-1 { grid-area: 1 / 1 / 2 / 3; border-bottom: 2px solid var(--secondary-color); border-right: 2px solid var(--secondary-color);}
.p-22-strat .strat-item-2 { grid-area: 1 / 3 / 2 / 5; border-bottom: 2px solid var(--secondary-color); border-right: 2px solid var(--secondary-color);}
.p-22-strat .strat-item-3 { grid-area: 1 / 5 / 2 / 7; border-bottom: 2px solid var(--secondary-color); border-right: 2px solid var(--secondary-color);}
.p-22-strat .strat-item-4 { grid-area: 1 / 7 / 2 / 9; border-bottom: 2px solid var(--secondary-color);}
.p-22-strat .strat-item-5 { grid-area: 2 / 2 / 3 / 4; border-right: 2px solid var(--secondary-color);}
.p-22-strat .strat-item-6 { grid-area: 2 / 4 / 3 / 6; border-right: 2px solid var(--secondary-color);}
.p-22-strat .strat-item-7 { grid-area: 2 / 6 / 3 / 8; }

.p-22-strat .strat-item-1 span { background-color: #f9d3db; color: #df244b; }
.p-22-strat .strat-item-2 span { background-color: #fbedd1; color: #eca718; }
.p-22-strat .strat-item-3 span { background-color: #e4f1d9; color: #7ebb46; }
.p-22-strat .strat-item-4 span { background-color: #ccedf9; color: #00a6df; }
.p-22-strat .strat-item-5 span { background-color: #cce6f3; color: #0180c2; }
.p-22-strat .strat-item-6 span { background-color: #d9d6e8; color: #48348a; }
.p-22-strat .strat-item-7 span { background-color: #edd5e7; color: #a42d87; }

.passport {
    position: relative;
}

.strat-description {top: 25%;right: 2%;width: 550px;}
#strat-description-3 {top: 20%;}
#strat-description-18 {top: 8%;}

.passport-sello {
    position: absolute;
    width: 60px;
}

#passport-sello-gob {top: 15%;left: 45%;}
#passport-sello-parq-retos {top: 50%;left: 40%;}
#passport-sello-planta-aguas {top: 6%;left: 68%;}
#passport-sello-corte {top: 32%;left: 62%;}
#passport-sello-parq-retos-2 {top: 52%;left: 70%;}

.planta-bg {
    position: absolute;
    left: 0;
    top: 0;
	opacity: 40%;
}

.planta-2-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.corte-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.corte-2-bg {
    position: absolute;
    left: 0;
    top: 0;
}

.parque-bg {
    position: absolute;
    left: 0;
    top: 0;
	opacity: 50%;
}

#parque-1 p {
    line-height: 20px;
    margin: 10px 0;
}

#parque-2 p {
    line-height: 20px;
    margin: 10px 0;
}

#parque-3 p {
    line-height: 20px;
    margin: 10px 0;
}

#parque-4 p {
    line-height: 20px;
    margin: 10px 0;
}

#parque-4-1 img {
    border: 0;
    max-width: 35%;
	margin-bottom: -10px;
}

#parque-4-2 img {
    border: 0;
    max-width: 35%;
	margin-bottom: -10px;
}

#parque-4-3 img {
    border: 0;
    max-width: 35%;
	margin-bottom: -10px;
}

#parque-4-4 img {
    border: 0;
    max-width: 35%;
	margin-bottom: -10px;
}

.header .banner h1 span {
    color: var(--secondary-color);
    margin-left: 80px;
    font-size: 2rem;
}

#pag-termi ul {
    margin-bottom: 0;
	margin-top: 6px;
}

.mw-40 {
    border: 0;
    max-width: 40%;
}

.mw-35 {
    border: 0;
    max-width: 35%;
}

.mw-90 {
    border: 0;
    max-width: 90%;
}

.m-0-5 {
    margin: 0 5px;
}

.m-2 {
    margin: 4px;
}

.m-4 {
    margin: 2px;
}

.mr-tb {
    margin: 30px auto;
}


.datatable td {
    text-align: justify;
}
______________________________
.pdn {
    padding: 5px 10px 5px 10px;
}

.color {
    color: #00877a;
}

.lh-15 {
    line-height: 15px; 
}

.lh-17 {
    line-height: 17px; 
}

.lh-m {
    line-height: 15px;
    margin: 8px;
	padding: 15px;
}

.pd-15 {
	padding: 15px;
}

.ta {
    text-align: center;
}

.jpit_activities_quiz_question_feedback_false:after {
    background: none;
}

.jpit_activities_quiz_question_feedback_true:after {
    background: none;
}

.jpit-activities-droppable .draggable.wrong, .jpit-activities-droppable .droppable.wrong {
    background-color: #fff !important;
    border-color: #00877a;
    color: #00877a;
}

.jpit-activities-droppable .jpit_activities_jpitdroppable_dropped {
    background-color: #fff;
    color: #ffffff;
}

#pag-planta .instruction {
    margin-bottom: -40px;
}

#pag-planta em {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
}

#pag-corte em {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
}

#pag-planta strong {
    color: var(--secondary-color);
}

#pag-corte strong {
    color: var(--secondary-color);
}

button.general {margin-left: 0px;
    margin-bottom: 55px;
}

#pag-corte5 p {
	margin: 10px 0;
	line-height: 23px;
}

#pag-corte9 p {
	margin: 7px 0;
	line-height: 23px;
}

#parque-4-1 p {
    line-height: 23px;
    margin: 5px 0;
}

#parque-4-2 p {
    line-height: 23px;
    margin: 5px 0;
}

#parque-4-3 p {
    line-height: 23px;
    margin: 5px 0;
}

#parque-4-4 p {
    line-height: 23px;
    margin: 5px 0;
}