@charset "utf-8";
/* CSS Document */

:root {
    --primary-color: #02b802;
    --secondary-color:  #01785f;
}


@font-face {
    font-family: VAG Rounded;
    font-weight: bold;
    src: url(../content/fonts/VAGRounded-Bold.otf);
}

@font-face {
    font-family: VAG Rounded;
    font-weight: normal;
    src: url(../content/fonts/VAGRoundedBT-Regular.otf);
}

@font-face {
    font-family: Calibri;
    font-weight: normal;
    src: url(../content/fonts/calibri-regular.ttf);
}

@font-face {
    font-family: Calibri;
    font-weight: bold;
    src: url(../content/fonts/calibri-bold.ttf);
}

@font-face {
    font-family: Calibri;
    font-style: italic;
    src: url(../content/fonts/calibri-italic.ttf);
}

@font-face {
    font-family: Calibri;
    font-style: italic;
    font-weight: bold;
    src: url(../content/fonts/calibri-bold-italic.ttf);
}

body {
    font-family: 'Calibri', sans-serif;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0ec;
    background-image: url(../img/background.png);
    background-size: cover;
}

body:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;
    background-image: url(../img/left-bottom-asset.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    z-index: -1;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img/right-asset.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 152px;
    height: 553px;
    z-index: -1;
}

#body {
    max-width: 968px;
    margin: 130px auto;
}

#body:before {
    content: "";
    position: fixed;
    top: -2px;
    left: 30px;
    background: url(../img/logo.png) no-repeat;
    background-size: 100%;
    width: 160px;
    height: 63px;
    z-index: 1;
}



h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    font-family: VAG Rounded;
}

h2 {
    font-weight: bold;
    font-size: 21px;
    color: var(--secondary-color);
    font-family: VAG Rounded;
}

h3 {
    font-weight: normal;
    font-size: 1.125rem;
    color: var(--secondary-color);
    font-family: VAG Rounded;
}

h4 {
    font-size: 17px;
    color: #000000;
    font-weight: normal;
    font-family: VAG Rounded;
}

h5 {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    font-family: VAG Rounded;
}

h6 {
    font-size: 14px;
    font-weight: normal;
    font-family: VAG Rounded;
}

p {
    font-size: 17px;
}

pre {
    background:#F8F8FF;
    border: #000 dashed 1px;
    padding: 6px;
    overflow: auto;
}

em {
    color: var(--secondary-color);
}

button.general {
    background-color: #fff;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 17px;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    transition: all 0.2s ease-in-out;
}

button.general.active, button.general:hover {
    background-color: transparent;
    color: var(--primary-color);
}

#content {
    padding: 20px 100px 45px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    height: 485px;
    width: 989px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.52);
    display: flex;
    align-items: center;
}

.ui-state-error, .ui-state-highlight {
    padding: 10px;
}

@media (max-width:750px) {
    #body {
        width: 95%;
        margin: 70px auto;
    }

    #play_scorm {
        max-width: 100%;
    }

    #content {
        padding: 15px;
        border-radius: 30px;
    }

    #content:after {
        display: none;
    }
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bold {
    font-weight: bold;
}

.mb-15 {
    margin-bottom: 15px;
}

.grey {
    color: #5c5c5b;
}

.img-container {
    flex-basis: 120%;
    margin-right: 25px;
}

.screen-reader {
    position: absolute;
    right: 5%;
    top: 1%;
    z-index: 1;
}

/********************************************************************************/
/* HEADER
/********************************************************************************/
.header {
    top: 10px;
    right: 0;
    left: 0;
    position: absolute;
}

.header .banner {
    background-color: #fff;
    padding: 5px 15px;
    flex-basis: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 45px;
    -webkit-box-shadow: 10px 13px 22px -5px rgba(0,0,0,0.63); 
    box-shadow: 10px 13px 22px -5px rgba(0,0,0,0.63);
    width: 500px;
    margin: auto;
}

.header .banner h1 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.125rem;
}

.header .banner h1 span {
    color: var(--primary-color);
    font-size: 1.75rem;
}