@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* COLORS */
  --color-primary: #453C78;
  --color-primary-light: #4E44A0;
  --color-primary-dark: #2D284F;
  --color-secondary: #826D4A;
  --color-secondary-light: #ECC9A3;
  --color-tertiary: #00D0A4;
  --highlight-blue: #12EFE4;
  --white: #ffffff;
  --bg-color: #F5F5F5;
  --box-text-bg-color: #F9F9FC;
  --grey-dark: #575969; 
  --text-color: #3C3C3B;
  --grey-light: #DDDDDD;
  --em-color: #4A4A49;
  --link-color: #4867D0;
  --link-color-hover: #3D3FB8;
  --disabled-button: #E5E5ED;
  --disabled-button-text: #8B879F;
  --enabled-button: #F7F7FA;
  --dialog-bg-color: #F5F6FA;
  --box-text-important: #EE7B76;
  --box-text-example: #00CEA8;
  --box-text-link: #40A4C5;
  --box-text-note: #826CA4;
  --box-text-activity: #D28D62;

  /* WIDTHS */
  --drawer-width: 360px;
  /* FONT FAMILIES */
  --avenir-family: 'Avenir', arial, sans-serif;
  --roboto-font-family: 'Roboto', sans-serif;
  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  /* FONT SIZES */
  --font-size-small: 12px;
  --font-size-common: 14px;
  --font-size-medium-16: 16px;
  --font-size-medium-18: 18px;
  --font-size-medium-20: 20px;
  --font-size-large-22: 22px;
  --font-size-large-24: 24px;
  --font-size-large-28: 28px;
  --font-size-large-30: 28px;
  --font-size-large-32: 32px;
  --font-size-large-36: 36px;
  --font-size-large-40: 40px;
  --font-size-large-44: 44px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

body.dhbgapp_fullview {
  overflow: hidden;
}

#body {
  margin: 0 auto;
  position: relative;
}

pre {
  background: #F8F8FF;
  border: #000 dashed 1px;
  padding: 6px;
  overflow: auto;
  color: #333;
}

cite {
  font-weight: normal;
  font-style: italic;
}

img {
  border: 0;
  max-width: 100%;
}

br.clear,
div.clear {
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.hidden {
  display: none;
}

ul.data_list {
  list-style: none;
}

ul.data_list li {
  padding-bottom: 10px;
}

ol.ol_counter li {
  padding-bottom: 10px;
  margin-inline-start: 24px;
}

a:hover {
  text-decoration: none;
}


blockquote {
  font-style: italic;
  background: url(../img/comillas1.png) no-repeat top left;
  padding: 10px 40px;
  margin: 0;
  position: relative;
  color: #1e120d;
}

blockquote:after {
  background: url(../img/comillas2.png) no-repeat top left;
  width: 36px;
  height: 30px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}

blockquote label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
}

//TODO leono286: wrap this in mediaqueries 
.onlymobile {
  display: none;
}

.notmobile {
  display: none;
}
