@import url(../components/fonts/montserrat/montserrat.css);

:root {
  /* COLORS */
  --bg-color: #EDEDED;
  --text-color: #4A4A49;
  --em-color: var(--text-color);
  --white: #ffffff;
  --dialog-bg-color: var(--bg-color);
  --color-primary-dark: #321C6D;
  --color-primary-dark-100: #2D284F;
  --color-primary-dark-200: #3C3661;
  --color-primary: #453C78;
  --color-primary-light: #4E44A2;
  --color-primary-light-200: var(--color-primary);
  --color-primary-light-300: #4E4487;
  --color-primary-light-400: #6D54A4;
  --color-primary-light-500: #47376C;
  --color-primary-light-600: #39327aca;
  --highlight-blue: #12EFE4;
  --link-color-hover: #3D3FB8;
  --link-color: #4867D0;
  --box-bg-color: var(--box-text-bg-color);
  --box-text-bg-color: #F7F7F7;
  --box-text-important: #FF7371;
  --box-text-example: #00D1A5;
  --box-text-link: #00A6C8;
  --box-text-note: #846CA6;
  --box-text-activity: #DB8A56;
  --box-text-color: var(--text-color);
  --color-secondary-light: #ECC9A3;
  --color-secondary: #C7A075;
  --color-secondary-light-100: #E1AE89;
  --color-tertiary: #826D4A;
  --activity-button-bg-color: #D8D8D8;
  --green-success: #4BD96C;
  --green-success-100: #4B999A;
  --green-success-200: #3F698D;
  --green-success-300: #D5F1E4;
  --yellow-warning: #D0A74E;
  --red-error: #D95D72;
  --red-error-100: #8E4E55;
  --red-error-200: #A74B53;
  --red-error-300: #E8BCC0;
  --cards-boder: #827E7E;
  --color-dark: #1C120E;
  --color-borders: #A9A1C2;
  --color-green: #62EBAC;
  --color-green-dark: #57C492;
  --disabled-button-text: #8B879F;
  --disabled-button: #DCDCE6;
  --grey-dark: #575969;
  --grey-light: #DDDDDD;
  --grey-light-200: #F4F4F4;


  /* WIDTHS */
  --drawer-width: 360px;
  /* FONT FAMILIES */
  --default-font-family: 'Montserrat', arial, sans-serif;
  --roboto-font-family: 'Roboto', sans-serif;
  --icon-font-family: "Material Symbols Rounded";
  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  /* FONT SIZES */
  --font-size-small: 12px;
  --font-size-common: 14px;
  --font-size-medium-16: 16px;
  --font-size-medium-18: 18px;
  --font-size-medium-20: 20px;
  --font-size-large-22: 22px;
  --font-size-large-24: 24px;
  --font-size-large-28: 28px;
  --font-size-large-30: 28px;
  --font-size-large-32: 32px;
  --font-size-large-36: 36px;
  --font-size-large-38: 38px;
  --font-size-large-40: 40px;
  --font-size-large-44: 44px;
  --font-size-large-56: 56px;
  --font-size-large-56: 64px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);

  * {
    font-family: var(--default-font-family);
  }
}

body.dhbgapp_fullview {
  overflow: hidden !important;
}

#body {
  margin: 0 auto;
  position: relative;
}

pre {
  background: #F8F8FF;
  border: #000 dashed 1px;
  padding: 6px;
  overflow: auto;
  color: #333;
  @include spacer(4, margin, bottom);
}

cite {
  font-weight: normal;
  font-style: italic;
}

img {
  border: 0;
  max-width: 100%;
}

br.clear,
div.clear {
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.hidden {
  display: none;
}

ul.data_list {
  list-style: none;
}

ul.data_list li {
  padding-bottom: 10px;
  margin-inline: 0px;
}

ol.ol_counter li {
  padding-bottom: 10px;
  margin-inline-start: 24px;
}

a:hover {
  text-decoration: none;
}


blockquote {
  font-style: italic;
  background: url(../img/comillas1.png) no-repeat top left;
  padding: 10px 40px;
  margin: 0;
  position: relative;
  color: #1e120d;
}

blockquote:after {
  background: url(../img/comillas2.png) no-repeat top left;
  width: 36px;
  height: 30px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}

blockquote label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
}

.box_media {
  text-align: center;
  margin-block: 24px;
}

//TODO leono286: wrap this in mediaqueries 
.onlymobile {
  display: none;
}

.notmobile {
  display: none;
}

body * {
  scrollbar-color: var(--color-primary-light-600) var(--bg-color);
}

body *::-webkit-scrollbar {
  width: 8px;
}

body *::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body *::-webkit-scrollbar-thumb {
  background: var(--color-primary-light-600);
}

iframe {
  border-width: 0;
  width: 100% !important;
  max-width: 800px;
}

video {
  border-radius: 20px;
}
