@import url(../components/fonts/poppins/poppins.css);
:root {
  /* COLORS */
  --bg-color: #F0F0F5;
  --box-bg-color: var(--box-text-bg-color);
  --box-text-activity: #D28D62;
  --box-text-bg-color: #F9F9FC;
  --box-text-color: #2B2C67;
  --box-text-example: #00CEA8;
  --box-text-important: #EE7B76;
  --box-text-link: #40A4C5;
  --box-text-note: #826CA4;
  --color-nodo: #0E0134;
  --color-primary-dark: #2D284F;
  --color-primary-light-200: #433A78;
  --color-primary-light-300: #4D4196;
  --color-primary-light: #4E44A0;
  --color-primary-light-400: #6956A0;
  --color-primary-light-500: #443869;
  --color-primary: #453C78;
  --color-borders:#A79FC0;
  --color-secondary-light: #FFF;
  --color-secondary: #c59e75ed;
  --color-tertiary: #00D0A4;
  --dialog-bg-color: #F5F6FA;
  --disabled-button-text: #8B879F;
  --disabled-button: #DCDCE6;
  --em-color: #4A4A49;
  --enabled-button: #F7F7FA;
  --grey-dark: #575969; 
  --grey-light: #DDDDDD;
  --grey-light-200: #DFDFE8;
  --highlight-blue: #12EFE4;
  --link-color-hover: #3D3FB8;
  --link-color: #4867D0;
  --text-color: #3C3C3B;
  --white: #ffffff;
  --red-error: #D75D72;
  --yellow-warning: #C9A95D;
  --red-error-100: #e6babe;
  --green-success: #6CCF74;
  --green-success-100: #d3efe2;
  --green-success-200: #3F698B;
  --green-success-300: #48B788;
  --cards-boder: #827E7E;
  --activity-button-bg-color:#D9D9D9;

  /* WIDTHS */
  --drawer-width: 360px;
  /* FONT FAMILIES */
  --default-font-family: 'Poppins', arial, sans-serif;
  --roboto-font-family: 'Roboto', sans-serif;
  --icon-font-family: "Material Symbols Rounded";
  /* FONT WEIGHTS */
  --font-weight-regular: 400;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
  /* FONT SIZES */
  --font-size-small: 12px;
  --font-size-common: 14px;
  --font-size-medium-16: 16px;
  --font-size-medium-18: 18px;
  --font-size-medium-20: 20px;
  --font-size-large-22: 22px;
  --font-size-large-24: 24px;
  --font-size-large-28: 28px;
  --font-size-large-30: 28px;
  --font-size-large-32: 32px;
  --font-size-large-36: 36px;
  --font-size-large-38: 38px;
  --font-size-large-40: 40px;
  --font-size-large-44: 44px;
  --font-size-large-56: 56px;
  --font-size-large-56: 64px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);

  * {
    font-family: var(--default-font-family);
  }
}

body.dhbgapp_fullview {
  overflow: hidden  !important;; 
}

#body {
  margin: 0 auto;
  position: relative;
}

pre {
  background: #F8F8FF;
  border: #000 dashed 1px;
  padding: 6px;
  overflow: auto;
  color: #333;
  @include spacer(4, margin, bottom);
}

cite {
  font-weight: normal;
  font-style: italic;
}

img {
  border: 0;
  max-width: 100%;
}

br.clear,
div.clear {
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.hidden {
  display: none;
}

ul.data_list {
  list-style: none;
}

ul.data_list li {
  padding-bottom: 10px;
  margin-inline: 0px;
}

ol.ol_counter li {
  padding-bottom: 10px;
  margin-inline-start: 24px;
}

a:hover {
  text-decoration: none;
}


blockquote {
  font-style: italic;
  background: url(../img/comillas1.png) no-repeat top left;
  padding: 10px 40px;
  margin: 0;
  position: relative;
  color: #1e120d;
}

blockquote:after {
  background: url(../img/comillas2.png) no-repeat top left;
  width: 36px;
  height: 30px;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
}

blockquote label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
}

.box_media {
  text-align: center;
  margin-block: 24px;
}

//TODO leono286: wrap this in mediaqueries 
.onlymobile {
  display: none;
}

.notmobile {
  display: none;
}

body * {
  scrollbar-color: var(--color-primary) var(--bg-color);
}
body *::-webkit-scrollbar {
  width: 8px;
}

body *::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body *::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

iframe {
  border-width: 0;
  width: 100% !important;
  max-width: 800px;
}

video {
  border-radius: 20px;
}
