@import './utils/all';

.change {
  color: red;
}

/********************************************************************************/
/* SPECIFIC LAYER STYLES
/********************************************************************************/

/********************************************************************************/
/* Actividad arrastrar y soltar - muchos a uno
/********************************************************************************/
#pag-actividades-arrastrar5 .chalkboard_content {
  height: auto;
}

#drag-drop .droppable {
  width: 300px;
  height: 150px;
}

#drag-drop .draggable {
  display: inline-block;
}

.text-center {
  text-align: center;
}
.italic {
  font-style: italic;
}
.flex-row {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-direction: column;
  @include respond-to('medium') {
    flex-direction: row;
  }

  & > * {
    flex: 1 1 50%;
  }

  img {
    border-radius: 16px;
  }
}

.horizontal-menu .flex-center {
  height: 100%;

  .img-container {
    flex: 0 0 260px;
  }
}

.flex-center {
  align-items: center;
}

#pag-creditos,
.box-text {
  ul > li {
    margin-inline-start: 48px;
  }
}

.vertical-video {
  &-wrapper {
    flex-basis: unset;
    order: 2;

    video {
      display: block;
      max-height: 600px;
      aspect-ratio: 0.53;
      margin: 20px auto;

      @include respond-to('medium') {
        max-height: 400px;
      }
    }
  }

  &-sibling {
    order: 1;
  }

  @include respond-to('medium') {
    &-wrapper {
      order: 1;
    }

    &-sibling {
      order: 2;
    }
  }
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  @include spacer(6, padding, block);
  @include respond-to('medium') {
    flex-direction: row;
  }
}

.shadow-image {
  pointer-events: none;
  img {
    pointer-events: none;
  }
}

.img-container {
  width: 100%;
  height: auto;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    max-width: 260px;
  }
  &--xl {
    img {
      max-width: 460px;
    }
  }
}

.spacer-bottom-2 {
  @include spacer(2, margin, bottom);
}
.spacer-block-2 {
  @include spacer(2, margin, block);
}
.spacer-block-4 {
  @include spacer(4, margin, block);
}
.banner {
  @include spacer(2, margin, bottom);
}

.audio-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: var(--font-size-medium-16);
    line-height: var(--font-size-large-28);
    color: var(--color-primary-light);
    font-weight: bold;
    @include spacer(2, margin, bottom);
  }
}

.infografia {
  @include grid(1, 3, 3);
  row-gap: 24px;
  @include spacer(4, margin, block);
  &__box {
    border: 1px solid #827e7e;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 86px;
    }
  }
}

.subpage {
  @include spacer(4, margin, bottom);
}

.infografia-2 {
  @include grid(1, 1, 1);
  row-gap: 24px;
  @include spacer(4, margin, block);
  margin: 0 auto;
  justify-content: center;
  &__box {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    height: 85px;
    @include respond-to('medium') {
      height: 126px;
    }
    &--left {
      .infografia-2 {
        &__link {
          border-radius: 50px 20px 20px 50px;
        }
        &__img-container {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          aspect-ratio: 1;
        }
        &__box-title-container {
          justify-content: flex-end;
          width: 100%;
          @include respond-to('medium') {
            justify-content: center;
          }
        }
      }
    }
    &--right {
      .infografia-2 {
        &__link {
          border-radius: 20px 50px 50px 20px;
        }
        &__img-container {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          aspect-ratio: 1;
        }
        &__box-title-container {
          justify-content: flex-start;
          width: 100%;
          @include respond-to('medium') {
            justify-content: center;
          }
        }
      }
    }
  }
  &__link {
    align-items: center;
    background-color: #e5dff6;
    border-bottom: none;
    border-radius: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
    max-width: 532px;
    padding: 18px;
    padding: 25px;
    position: relative;
    width: 100%;
    &:hover {
      border-bottom: none;
      .infografia-2__img-container {
        transform: translateY(-50%) scale(1.1);
      }
    }
  }
  &__img-container {
    border-radius: 50%;
    border: 3px solid #6956a1;
    padding: 21px;
    background-color: white;
    transition: all 0.2s ease;
    height: 85px;
    @include respond-to('medium') {
      height: 126px;
    }
    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }
  &__box-title-container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__box-title {
    margin: 0;
  }
}

.jpit-activities-check {
  .board {
    align-items: center;

    @include respond-to('large') {
      row-gap: 24px;
      flex-wrap: wrap;
    }
  }

  .word_content {
    background-color: transparent;
    height: 382px;

    img {
      border-radius: 14px;
    }
  }

  .box_conclution {
    position: relative;
    .box_end {
      padding: 0;
      & > * {
        position: relative;
      }
    }
  }
}

.flex-info {
  @include respond-to('large') {
    max-width: 624px;
    margin: 0 auto;
  }
}

.genially-embed {
  width: 300px;
  height: 300px;
  @include respond-to('large') {
    width: 800px;
    height: 600px;
  }
}

/********************************************************************************/
/* CREDITS
/********************************************************************************/

.logos {
  margin-top: 36px;
  justify-content: center;
  column-gap: 64px;
  flex-wrap: wrap;
  margin-inline: auto;

  @include respond-to('medium') {
    margin-top: 60px;
  }
}

.logo-container {
  flex: unset;
  width: auto;
  border-bottom: 0;
  @include spacer(2, margin, bottom);

  @include respond-to('medium') {
    @include spacer(4, margin, bottom);
  }

  &:hover {
    border-bottom: 0;
  }

  img {
    height: 100%;
    width: auto;
    transition: all 0.2s ease;
    object-fit: cover;
  }

  &--mariana {
    img {
      height: 96px;
    }
  }

  &--enlace {
    img {
      height: 88px;
    }
  }
  &--nodolab {
    img {
      height: 52px;
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}
