@mixin use-icon-font {
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-size: 24px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
