@import "../utils/all";
@import "../base";
@import "../typography/all";

body {
  background-color: var(--grey-light-200);
}

#body {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
  height: 100%;
  max-width: 1240px;
  margin-inline: auto;
  justify-content: flex-end;

  @include respond-to("medium") {
    overflow: hidden;
    flex-direction: row;
    max-height: 100vh;
    justify-content: center;

    &:before {
      content: '';
      background-color: var(--color-secondary-light-100);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40%;
      z-index: -1;
    }
  }

  @include respond-to("large") { 
    &:before {
      width: 34%;
    }
  }

  @include respond-to("extra-large") { 
    &:before {
      width: 40%;
    }
  }

  &__banner {
    flex-grow: 1;
    position: relative;

    @include respond-to("medium") {
      display: flex;
      height: 100vh;
      flex-direction: column;
      max-height: unset;
      flex-basis: 50%;
      justify-content: center;
      align-self: center;
      align-items: flex-end;
    }
  }

  &__title {
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.81);
    background-color: #392b1ca8;
    color: var(--white);
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 32px 20px 16px;
    font-weight: 400;
    line-height: 0.3em;
    letter-spacing: 0.14em;
    z-index: 2;

    strong {
      line-height: 1.1em;
      font-size: 28px;
    }

    @include respond-to("medium") {
      top: 54%;
      bottom: unset;
      left: 1%;
      font-size: 22px;
    }

    @include respond-to("small-large") {
      font-size: 32px;
      line-height: 0.5em;
    
      strong {
        font-size: 40px;
      }
    }

    @include respond-to("large") {
      font-size: 32px;
      padding: 42px 32px 26px;
      left: unset;
      right: -32px;
      width: 420px;
      
      strong {
        font-size: 40px;
      }
    }
  }

  &__logo {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 0;
    z-index: 1;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center 10%;
      height: 100%;
    }

    @include respond-to('medium') {
      max-width: 460px;
      max-height: 662px;
    }
    @include respond-to('extra-large') {
      max-width: 520px;
      max-height: 748px;
    }
  }

  &__info {
    padding-block-start: 16px;

    @include respond-to("medium") {
      @include spacer(4, margin, top);
      @include spacer(7, padding, bottom);
      padding-inline: 24px 16px;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include respond-to("large") {
      padding-inline: 60px;
      padding-bottom: 0;
      @include spacer(4, margin, top);

      .wrapper {
        max-height: 480px;
        margin-top: 160px;
      }
    }

    h1 {
      font-size: 28px;
      font-weight: normal;
      color: var(--color-primary-dark-200);
      line-height: 1.1em;
      margin-block-end: 12px;
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.1em;
      letter-spacing: 0.12em;

      strong {
        font-size: 34px;
      }

      @include respond-to("medium") {
        margin-top: 40%;
      }

      @include respond-to("small-large") {
        font-size: 32px;

        strong {
          font-size: 38px;
        }
      }

      @include respond-to("large") {
        margin-top: 20%;
        font-size: 36px;

        strong {
          font-size: 42px;
        }
      }
    }

    p {
      color: var(--color-dark);

      @include respond-to("large") {
        font-size: var(--font-size-medium-18);
      }
    }

    .duration {
      text-transform: uppercase;
      color: var(--color-primary-dark-200);
      font-size: var(--font-size-medium-20);
    }
  }

  #play_scorm {
    display: flex;
    justify-content: center;
    @include spacer(5, margin, bottom);
    @include spacer(4, margin, top);

    @include respond-to('medium') {
      justify-content: flex-end;
    }

    button {
      @include button();
      background-color: var(--color-primary-light-400);
      color: var(--white);
      text-transform: uppercase;
      font-size: var(--font-size-large-24);
      margin: 0 auto;
      padding: 0.4em 2.8em;
      position: relative;

      &:hover {
        background-color: var(--white);
        color: var(--color-primary-light-400);
      }

      @include respond-to("medium") {
        padding: 0.4em 4em 0.4em 1em;
      }

      @include respond-to("small-large") {
        font-size: var(--font-size-large-30);
        margin-inline: auto 0;
        text-align: left;
      }

      .google-symbols-rounded {
        font-size: 32px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
      }

    }

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-size-small);
      height: 100%;
      margin: 0;

      @include respond-to('medium') {
        font-size: var(--font-size-common);
        width: 100%;
        justify-content: flex-end;
      }

      @include respond-to('small-large') {
        font-size: var(--font-size-medium-18);
      }

      img {
        aspect-ratio: 3;
        object-fit: cover;

        @include respond-to("medium") {
          width: 96px;
        }

        @include respond-to("small-large") {
          width: 112px;
        }

        @include respond-to("large") {
          width: 128px;
        }
      }
    }

  }
}
