@import "../utils/all";

.change {
  color: red;
}

/********************************************************************************/
/* SPECIFIC LAYER STYLES
/********************************************************************************/

/********************************************************************************/
/* Actividad arrastrar y soltar - muchos a uno
/********************************************************************************/
#drag-drop .droppable {
  width: 300px;
  height: 150px;
}

#drag-drop .draggable {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.flex-row {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-direction: column;

  @include respond-to('medium') {
    flex-direction: row;
  }

  img {
    border-radius: 16px;
  }
}

.flex-center {
  align-items: center;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
  @include spacer(6, padding, block);

  @include respond-to('medium') {
    flex-direction: row;
  }
}

.flex-info {
  @include respond-to('large') {
    max-width: 624px;
    margin: 0 auto;
  }
}

.genially-embed {
  width: 300px;
  height: 300px;

  @include respond-to('large') {
    width: 800px;
    height: 600px;
  }
}

.shadow-image {
  pointer-events: none;

  img {
    pointer-events: none;
  }
}


.img-container {
  height: auto;
  text-align: center;
  min-width: 280px;

  @include respond-to("small") {
    min-width: 300px;
  }

  @include respond-to("small-large") {
    min-width: 320px;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 320px;
  }

  &--xl {
    img {
      max-width: 560px;
    }
  }
}

.spacer-bottom-2 {
  @include spacer(2, margin, bottom);
}

img {
  border-radius: 16px;
}

.links-box {
  a {
    margin-top: 8px;
  }

  ul>li {
    margin-inline-start: 24px;

    @include respond-to('large') {
      margin-inline-start: 48px;
    }
  }
}

video {
  max-width: 426px;
}

#pag-definicion {


  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include spacer(4, margin, block);

    .card {
      min-width: 300px;
      max-width: 400px;

      &__img {
        aspect-ratio: unset;
      } 
    
      img {
        max-width: 400px;
        height: auto;
      }
    }
  }

  .jpit-activities-droppable {

    .flex-row>* {
      flex: 1 0 50%;

      &.sources {
        @include respond-to('medium') {
          justify-content: flex-start;
        }
      }
    }

    .ctrl-pagination {
      padding: 0;
      width: 280px;

      .previous {
        @include respond-to("medium") {
          left: -50px;
        }
      }

      .next {
        @include respond-to("medium") {
          right: -50px;
        }
      }
    }

    .layers-wrapper {
      border-radius: 24px;

      @include respond-to("medium") {
        padding-bottom: 12px;
      }
    }

    li.layer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
    }

    .image {
      padding: 0;

      p {
        padding-inline: 8px;
      }
    }

    img {
      max-width: 280px;
      border-radius: 24px;
    }
  }

  .target {
    margin-bottom: 24px;
  }

  .col-2 {
    margin-bottom: 0;
  }

  .sources {
    flex-wrap: wrap;
    gap: 4px
  }

  .box_end>div {
    @include respond-to('medium') {
      width: 400px;
    }
  }
}


#pag-beneficios {

  .horizontal-menu {
    @include spacer(2, margin, block);

    &__chalkboard-items {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 0;
      margin-left: 4px;
      
      @include respond-to('medium') {
        margin-left: 8px;
      }
    }
  }

  .jpit-activities-quiz .box_content {
    .jpit_activities_quiz_board {
      @include respond-to('up-to-medium') {
        padding-bottom: 30px;
      }
    }

    .jpit_activities_quiz_question_multichoice .jpit_activities_quiz_question_answers {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .jpit_activities_quiz_question_option {
      margin-bottom: 8px;

      @include respond-to("medium") {
        margin-bottom: 16px;
      }

      .jpit_activities_quiz_question_option_answer {
        padding: 4px;
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }

  }
}
