.scorm-title,
h1 {
  @include h1();
  line-height: 45px;
  color: var(--white);
}

h2 {
  @include h2();
  @include spacer(2, margin, bottom);
  @include spacer(2, margin, top);
  color: var(--color-primary);
  font-weight: bold;
}

h3 {
  @include h3();
  @include spacer(2, margin, bottom);
  @include spacer(2, margin, top);
  color: var(--color-primary-light);
  font-size: var(--font-size-medium-20);
  font-weight: bold;
}

h4 {
  @include h4();
  @include spacer(2, margin, bottom);
  @include spacer(2, margin, top);
  color: #000000;
  font-weight: bold;
}

h5 {
  @include h4();
  @include spacer(2, margin, bottom);
  @include spacer(2, margin, top);
  color: #000000;
  font-weight: bold;
}

p {
  @include spacer(2, margin, bottom);
}

em {
  color: var(--em-color);
  font-weight: bold;
}

a {
  color: var(--link-color);
  transition: all 0.2s ease;
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
  &:hover {
    color: var(--link-color-hover);
    border-bottom: 1px solid var(--link-color-hover);
  }
}