.jpit-activities-quiz {
  position: relative;

  .box_content {
    position: relative;
    @include spacer(4, padding, bottom);

    .jpit_activities_quiz_question_statement {
      margin-bottom: 20px;

      label {
        font-weight: bold;

        &:after {
          content: ".";
        }
      }
    }

    .jpit_activities_quiz_question_option_answer {
      cursor: pointer;
      padding: 10px;

      &:hover {
        background-color: rgba(200, 200, 200, 0.2);
      }

      label {
        background-color: #556bc6;
        color: #fff;
        padding: 2px 6px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;

        &:hover,
        &.jpit_activities_quiz_question_option_answer_selected label {
          background-color: #ffffff;
          color: #00cad9;
        }
      }

      &.jpit_activities_quiz_question_option_answer_selected {
        border: none;
        color: #fff;
        font-weight: bold;
        background-color: #00cad9;
        border-radius: 20px;
        display: table;
        margin: 2px 0;
        padding-right: 20px;
      }
    }

    .jpit_activities_quiz_question_feedback {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .jpit_activities_quiz_question_feedback_true,
    .jpit_activities_quiz_question_feedback_false,
    .jpit_activities_quiz_question_feedback>*  {
      padding: 8px 12px;
      text-align: center;
      background-color: #ffffff;
      position: relative;
      box-shadow: 0 4px 4px rgba(54, 64, 67, 0.15);
      border-radius: 0 14px 14px 0;
      width: 80%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline-start: 50px;

      &::before {
        position: absolute;
        left: -50px;
        width: 50px;
        border-radius: 14px 0 0 14px;
        height: 100%;
        content: "";
        top: 0;
        z-index: 2;
        box-shadow: 0 4px 4px rgba(54, 64, 67, 0.15);
      }

      &:after {
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 50px;
        height: 50px;
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        z-index: 2;
      }

      &.jpit_activities_quiz_question_feedback_true, & {
        color: var(--green-success);
        &:before {
          background-color: var(--green-success);
        }
        &::after {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="29.879" height="29.882" viewBox="0 0 29.879 29.882"><g id="Grupo_1124" data-name="Grupo 1124" transform="translate(-629.337 -617.608)"><g id="Grupo_278" data-name="Grupo 278" transform="translate(-5356.524 -878.597)"><g id="Grupo_277" data-name="Grupo 277"><path id="Trazado_253" data-name="Trazado 253" d="M6000.8,1525.587a14.429,14.429,0,1,1,6.3-1.444A14.318,14.318,0,0,1,6000.8,1525.587Zm0-28.43a13.989,13.989,0,1,0,0,27.978,13.978,13.978,0,0,0,13.987-13.987A14,14,0,0,0,6000.8,1497.157Z" fill="%23fff" stroke="%23fff" stroke-width="1"/></g></g><g id="Grupo_279" data-name="Grupo 279" transform="translate(-5356.524 -878.597)"><path id="Trazado_254" data-name="Trazado 254" d="M5991.353,1511.981c1.442,1,2.2,1.179,3.44,3.273s1.46,3.517,1.787,3.779,1.963-.065,2.813-.523.882-.711,1.677-2.568a41.8,41.8,0,0,1,4.262-7.567c1.374-1.832,4.267-4.241,4.4-4.7s-1.242-.671-2.551-.278-4.065,3.424-5.729,5.809c-1.849,2.65-2.506,4.887-2.833,4.822s-.966-1.4-1.882-2.381-1.881-1.646-2.993-1.45S5990.688,1511.52,5991.353,1511.981Z" fill="%23fff"/></g></g></svg>');
        }
      }

      &.jpit_activities_quiz_question_feedback_false, .jpit_activities_quiz_question_feedback .wrong {
        color: var(--red-error);
        &:before {
          background-color: var(--red-error);
        }
        &::after {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="27.538" height="27.542" viewBox="0 0 27.538 27.542"><g id="Grupo_569" data-name="Grupo 569" transform="translate(-3302.372 -1557.676)"><g id="Grupo_567" data-name="Grupo 567"><path id="Trazado_548" data-name="Trazado 548" d="M3316.141,1584.757a13.3,13.3,0,1,1,5.809-1.331A13.2,13.2,0,0,1,3316.141,1584.757Zm0-26.2a12.9,12.9,0,1,0,12.891,12.9A12.907,12.907,0,0,0,3316.141,1558.554Z" fill="%23fff" stroke="%23fff" stroke-width="0.922"/></g><g id="Grupo_568" data-name="Grupo 568"><path id="Trazado_549" data-name="Trazado 549" d="M3310.812,1577a1.777,1.777,0,0,0,1.209.212c.629-.094.906-.564,1.536-1.716a32.263,32.263,0,0,1,5-6.226c1.438-1.409,3.387-2.792,3.183-3.149-.4-.7-.437-1.236-1.663-1.034s-3.025,2.241-4.784,4.088c-1.955,2.053-5.186,6.211-4.961,6.744A.829.829,0,0,0,3310.812,1577Z" fill="%23fff"/><path id="Trazado_550" data-name="Trazado 550" d="M3312.353,1564.368a1.952,1.952,0,0,1,1.25.118c.812.315.9,1.573,1.654,3.138a19.58,19.58,0,0,0,3.689,5.052c.952,1.022,2.72,2.4,3.073,2.937.225.346-.454,1.739-1.511,1.6-1.232-.164-4.486-4.17-6.044-6.169-1.732-2.22-3.367-5.335-3.088-5.845A1.266,1.266,0,0,1,3312.353,1564.368Z" fill="%23fff"/></g></g></svg>');
        }
      }
    }
  }

  .jpit_activities_quiz_question_option_control {
    display: none;
  }

  .jpit_activities_quiz_question_option_answer {
    border-radius: 25px;
  }

  .jpit_activities_quiz_question_option{
    padding: 0;
    border-radius: 25px;
    margin-inline-start: 0px;

    @include spacer(2, margin, bottom);
    &_answer_selected {
      border: 1px dashed var(--color-primary-light)
    }
  }

  .jpit_activities_quiz_paginator_container {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    &>.jpit_activities_quiz_paginator_current {
      align-items: center;
      background-color: var(--disabled-button);
      border-radius: 12px;
      color: var(--color-primary-light);
      display: flex;
      font-weight: bold;
      justify-content: center;
      padding-inline: 8px;
      @include body();
    }

    &>.jpit_activities_quiz_paginator_previous,
    &>.jpit_activities_quiz_paginator_next {
      width: 44px;
      height: 44px;
      display: block;
      cursor: pointer;
    }

    &>.jpit_activities_quiz_paginator_previous {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" viewBox="0 0 15.518 19.164"><g id="Grupo_635" data-name="Grupo 635" transform="translate(-2475.477 -1532.212)"><g id="Grupo_634" data-name="Grupo 634"><g id="Grupo_633" data-name="Grupo 633"><path id="Trazado_607" data-name="Trazado 607" d="M2475.477,1532.212l15.518,9.582-15.518,9.581Z" fill="%236956a0"/></g></g></g></svg>');
      transform: rotateY(180deg);
      background-size: 40%;
      background-position: center;
      background-repeat: no-repeat;
      border: 0px;
      &:hover {
        filter: grayscale(1);
      }
    }

    &>.jpit_activities_quiz_paginator_next {
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" viewBox="0 0 15.518 19.164"><g id="Grupo_635" data-name="Grupo 635" transform="translate(-2475.477 -1532.212)"><g id="Grupo_634" data-name="Grupo 634"><g id="Grupo_633" data-name="Grupo 633"><path id="Trazado_607" data-name="Trazado 607" d="M2475.477,1532.212l15.518,9.582-15.518,9.581Z" fill="%236956a0"/></g></g></g></svg>');
      background-size: 40%;
      background-position: center;
      background-repeat: no-repeat;
      border: 0px;
      &:hover {
        filter: grayscale(1);
      }
    }
  }

  .verify_box {
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    z-index: 1;
    @include spacer(2, margin, bottom);
    button {
      @include button();
    }
  }
}
