.jpit-activities-droppable {
  .droppable {
    border: 1px solid #007fff;
    text-align: left;
    padding: 0;
  }

  .draggable {
    background-color: #ffffff;
    border: 1px solid #007fff;
    text-align: center;
    cursor: move;
    padding: 5px;
    -ms-touch-action: none;
    touch-action: none;
    user-select: none;

    &.disabled {
      cursor: default;
    }
  }

  .jpit_activities_jpitdroppable_dropped {
    background-color: #E2793D;
    color: #ffffff;
  }

  .draggable.wrong,
  .droppable.wrong {
    background-color: #ffffff;
    border-color: #D60C1B;
    color: #D60C1B;
  }

  &:after {
    content: "";
    display: inline-block;
  }
}

.jpitdroppable_select_dialog.ui-dialog {
  .ui-dialog-content {
    padding: 0;
  }

  .ui-dialog-titlebar {
    display: none;
  }
}

.jpitdroppable_select_list {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.jpitdroppable_select_list_item {
  position: relative;
  flex: 1;
  border: solid 1px #cccccc;
  margin: 1px 0;
  padding: 10px;
  user-select: none;

  &.selected {
    background-color: #dedede;
    border-color: #bcbcbc;
  }

  &.dropped:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid #22c1c9;
    border-bottom: 20px solid transparent;
    clear: both;
  }
}


@include respond-to('up-to-medium') {
  .jpit-activities-droppable {
    .droppable {
      padding-bottom: 30px;
      /* This is important so there is always space to touch and select*/
      user-select: none;
    }

    .box_end {
      padding: 0 0 10px 0;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      border-top: 1px solid #999;

      &:before,
      &:after {
        display: none;
      }
    }

    padding-bottom: 150px;
  }
}
