.jpit-activities-check {
  .word_content {
    @include h2();
    @include spacer(2, margin, bottom);
    @include spacer(2, margin, top);
    color: var(--color-primary-light-400);
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(54, 64, 67, 0.15);
    border-radius: 8px;
    padding-block: 16px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    @include spacer(4, margin, bottom);
    button {
      @include button();
      background-color: var(--color-primary-light-400);
      min-width: 80px;
      border-radius: 25px;
      margin: 0;
    }
  }

  .box_result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px;
      background-color: var(--white);
      border-radius: 16px;
      width: 120px;
      font-weight: bold;
      &.correct {
        color: var(--green-success);
      }
      &.wrong {
        color: var(--red-error);
      }
    }
    

  }
}