.jpit-activities-droppable {

  table {
    margin-inline: auto;
  }

  th {
    color: var(--color-nodo);
    width: 50%;
    border: 1px solid var(--color-borders);
    border-radius: 16px;
    padding: 5px 12px;
    text-align: right;

    @include respond-to('medium') {
      width: 80%;
    }
  }

  .droppable {
    border: 1px dashed var(--color-borders);
    border-radius: 16px;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    min-width: 80px;
  }

  .draggable {
    background-color: var(--white);
    color: var(--color-nodo);
    border: 1px solid var(--color-borders);
    border-radius: 16px;
    text-align: center;
    cursor: move;
    padding: 5px;
    -ms-touch-action: none;
    touch-action: none;
    user-select: none;
    display: inline-block;
    width: fit-content;
    min-width: 80px;

    &.disabled {
      cursor: default;
    }
  }

  &:not(.jpit-activities-droppable--multi) {
    .jpit_activities_jpitdroppable_dropped {
      width: 100%;
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  .jpit_activities_jpitdroppable_dropped {
    background-color: var(--color-borders);
    color: #ffffff;
  }

  .draggable.wrong {
    background-color: var(--red-error-100);
    border-color: var(--red-error);
    color: var(--red-error);
    font-weight: bold;
  }

  .draggable.correct {
    background-color: var(--green-success-100);
    border-color: var(--green-success-200);
    color: var(--green-success-200);
    font-weight: bold;
  }

  &--multi {
    .droppable {
      background-color: var(--white);
      padding: 12px;
    }

    .jpit_activities_jpitdroppable_dropped{
      margin: 2px;
    }
  }
}

.jpitdroppable_select_dialog.ui-dialog {
  .ui-dialog-content {
    padding: 0;
  }

  .ui-dialog-titlebar {
    display: none;
  }
}

.jpitdroppable_select_list {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}

.jpitdroppable_select_list_item {
  position: relative;
  flex: 1;
  border: solid 1px #cccccc;
  margin: 1px 0;
  padding: 10px;
  user-select: none;

  &.selected {
    background-color: #dedede;
    border-color: #bcbcbc;
  }

  &.dropped:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid #22c1c9;
    border-bottom: 20px solid transparent;
    clear: both;
  }
}


@include respond-to('up-to-medium') {
  .jpit-activities-droppable {
    .box_end {
      border-radius: 16px;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}
