.datatable {
    border: 1px solid #3E698F;
    border-spacing: 0;
    border-collapse: none;
    margin-bottom: 10px;
    border-radius: 5px;

    thead th:first-child {
        border-top-left-radius: 5px;
    }

    thead th:last-child {
        border-top-right-radius: 5px;
    }

    th {
        padding: 5px;
        text-align: center;
        background-color: #5abaca;
        border: 1px solid #3e698f;
        border-top-width: 0;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
    }

    td {
        color: #556bc6;
        padding: 5px;
        border-right: 1px solid #3e698f;
        border-left: 1px solid #3e698f;
        border-top-width: 0;
        empty-cells: show;
    }

    .odd td {
        background-color: #f0f1f1;
    }

    tfoot td {
        background-color: #e7f3f2;
        font-weight: bold;
        color: #556bc6;
        border: 1px solid;
    }
}
