.scorm {

  .drawer__overlay {
    background-color: rgba(4, 16, 22, 0.81);
    ;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transform: scaleX(0);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  :has(#drawer-toggle:checked) {
    .drawer__overlay {
      transform: scaleX(1);
      opacity: 1;
      pointer-events: all;
    }

    @include respond-to('large') {
      .drawer__overlay {
        display: none;
      }
    }
  }

  :has(#drawer-toggle)+main {
    @include respond-to("large") {
      width: 100%;
      margin-left: 0;
      transition: margin-left 0.3s ease, width 0.3s ease;
    }
  }

  :has(#drawer-toggle:checked)+main {
    @include respond-to("large") {
      width: calc(100% - var(--drawer-width));
      margin-left: var(--drawer-width);

      &::before {
        content: none;
      }
    }
  }

  #drawer-toggle {
    cursor: pointer;
    display: none;

    &:checked {
      +.scorm__drawer {
        left: 0px;
        /* Drawer on-screen on checked */
      }
    }

    +.scorm__drawer {
      left: calc(var(--drawer-width) * -1);
      /* Drawer on-screen on checked */
    }

  }

  &__drawer {
    background-color: var(--color-primary-light-300);
    box-sizing: border-box;
    height: 100%;
    left: calc(var(--drawer-width) * -1);
    padding: 20px;
    padding-top: 64px;
    position: fixed;
    top: 0px;
    transition: left 0.3s ease;
    width: var(--drawer-width);
    z-index: 3;

    @include respond-to("large") {
      top: 64px;
      padding-top: 20px;
      height: initial;
      bottom: 68px;
      ;
    }

    &-toggle {
      grid-column: 1/1;
      color: var(--white);
      cursor: pointer;
      display: inline-block;
      height: fit-content;
      padding: 12px;
      position: relative;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 50%;
      z-index: 4;

      &::before {
        background-color: white;
        border-radius: 50%;
        content: "";
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.1s linear;
        z-index: -1;
        width: 100%;
        height: 100%;
      }

      &:hover {
        &::before {
          opacity: 0.1;
        }
      }

      .google-symbols-rounded {
        font-size: 26px;

        &.closed {
          .panel-open & {
            display: none;
          }
        }

        &.opened {
          display: none;

          .panel-open & {
            display: block;
          }
        }
      }
    }
  }
}
