footer, .footer {
  background-color: var(--color-nodo);
  background-size: 100px;
  bottom: 0;
  height: 68px;
  left: 0;
  padding: 10px 8px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;

  .scorm__course-title {
    display: none;
    text-transform: uppercase;
    font-size: var(--font-size-medium-16);
    color: var(--white);
    em {
      font-weight: bold;
      color: var(--white);
      font-style: unset;
      font-size: var(--font-size-medium-20);
    }
    @include respond-to('large') {
      display: block;
    }
  }

  &__logo {
    display: none;
    @include respond-to('medium') {
      display: block;
      width: 150px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
  }

  #page_number {
    border-radius: 50%;
    border: 1px solid var(--white);
    bottom: 10px;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
  }
}