footer,
.footer {
  align-items: center;
  background-color: var(--white);
  background-size: 100px;
  bottom: 0;
  display: flex;
  gap: 16px;
  height: 68px;
  justify-content: space-between;
  left: 0;
  padding-inline: 32px;
  padding: 10px 16px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 2;

  .scorm__course-title {
    display: none;
    text-transform: uppercase;
    font-size: var(--font-size-medium-16);
    color: var(--white);

    em {
      font-weight: bold;
      color: var(--white);
      font-style: unset;
      font-size: var(--font-size-medium-20);
    }

    @include respond-to('large') {
      display: block;
    }
  }

  &__logo {
    display: none;
    text-transform: uppercase;
    color: var(--color-tertiary);
    font-weight: 500;
    font-size: 10px;
    margin-inline-start: auto;

    p{
      margin: 0
    }

    strong {
      font-size: var(--font-size-medium-16);
    }
    
    @include respond-to('small-large') {
      display: block;
    }

    @include respond-to('large') {
      font-size: var(--font-size-small);

      strong {
        font-size: var(--font-size-medium-18)
      }
    }

  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
  }

  #page_number {
    border-radius: 50%;
    border: 1px solid var(--color-tertiary);
    bottom: 10px;
    color: var(--color-tertiary);
    font-size: 16px;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
  }
}
