.scorm {
  &__header {
    align-items: center;
    background-color: var(--color-primary-light-200);
    content: '';
    height: 96px;
    left: 0;
    padding-inline-start: 8px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
    display: grid;
    grid-template-columns: 48px 1fr 132px;
    grid-template-rows: 40px 1fr;
    padding-block-start: 6px;

    @include respond-to('medium') {
      grid-template-columns: 48px 1fr 148px;
      gap: 0;
      grid-template-rows: unset;
      height: 64px;
      padding-block-start: 0;
      padding-inline-end: 0;
    }
    @include respond-to('large') {
      grid-template-columns: 60px 1fr 160px;
      gap: 16px;
    }

    @include respond-to('extra-large') {
      grid-template-columns: 72px 1fr 196px;
      gap: 24px;
    }
  }


  .scorm-title {
    color: var(--white);
    font-size: var(--font-size-large-22);
    line-height: var(--font-size-large-24);
    grid-column: 1/-1;
    grid-row: 2/2;
    padding-inline: 8px 16px;

    @include respond-to('medium'){
      @include h1();
      line-height: 45px;
      grid-column: 2/2;
      grid-row: unset;
    }
  }

  &__globals {
    grid-column: 3 / 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-inline-end: 8px;
    @include respond-to('medium') {
      background-color: var(--color-primary-dark-100);
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      .button {
        align-items: center;
        display: flex;
        height: 44px;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: relative;
        width: 44px;
        &::before {
          content: '';  
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: white;
          left: 0;
          top: 0;
          border-radius: 50%;
          opacity: 0;
          transition: opacity 0.2s ease;
        }
        &:hover {
          &::before {
            opacity: 0.1;
          }
        }
        div {
          width: 28px;
          height: 28px;
          text-align: center;
        }
        .google-symbols-rounded {
          color: var(--white);
          font-size: 26px;
          font-variation-settings: 'wght' 300;
        }

        .fullscreen {
          .enter { display: none;}
        }

        &.minimized {
          .fullscreen {
            .enter { display: inline-block;}
            .exit { display: none;}
          }
        }
      }
    }
    &:before {
      width: 0;
      height: 0;
      border-bottom: 64px solid var(--color-primary-dark-100);
      border-left: 64px solid transparent;
      position: absolute;
      content: '';
      left: -64px;
      display: none;
      z-index: -1;
      @include respond-to('medium') {
        display: block;
      }
    }
  }
}
