.instruction {
  font-size: var(--font-size-common);
  line-height: var(--font-size-large-24);
  font-weight: 500;
 @include spacer(2, margin, block);
  font-style: italic;
  color: var(--color-primary);
  text-align: center;
  i {
    font-size: var(--font-size-medium-16);
    margin-right: 5px;
  }
}
