/* ----------------- */
/*     Progresss     */
/* ----------------- */

.measuring-progress {
  $text-color: var(--color-tertiary);
  $progress-bg-color: var(--color-secondary);
  $progress-track-bg-color: var(--color-secondary-light);;
  position: relative;
  cursor: pointer;

  &.default {
    float: left;
    padding: 10px 0 0 10px;
    display: flex;
    align-items: center;
    width: 150px;

    progress {
      height: 30px;
      width: 100%;
    }

    label {
      position: absolute;
      left: 120px;
      top: 20px;
    }
  }

  &.horizontal {
    align-items: center;
    color: $text-color;
    display: flex;
    flex-basis: 320px;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-size-common);

    label {
      font-size: var(--font-size-large-22);
      font-weight: bold;
    }

    .results_value {
      text-align: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
      }

       .progress_text {
       line-height: 1em;
    }
    }

    .results_level {
      height: 15px;
      width: 80%;
      background-color: $progress-track-bg-color;
      border-radius: 15px;
      overflow: hidden;
      border: 1px solid $progress-track-bg-color;

      div {
        background-color: $progress-bg-color;
        width: 0%;
        height: 15px;
        transition: width 0.2s ease;
      }
    }
  }


  // not used for now
  // &.circle {
  //   margin: -20px 10px 0 5px;
  //   &.c100 {
  //     background-color: #ffffff !important;
  //     border: 1px solid #999999;
  //   }
  // }

  // &.vertical {
  //   font-size: 11px;
  //   font-weight: bold;
  //   margin-left: 5px;

  //   .results_value {
  //     position: absolute;
  //     left: 5px;
  //     top: 0;
  //     width: 28px;
  //     height: 22px;
  //     border-radius: 15px;
  //     background-color: #fff;
  //     text-align: center;
  //     padding-top: 6px;
  //     line-height: 10px;
  //     z-index: 2;
  //     border: 1px solid #007fff;
  //   }

  //   .results_level {
  //     position: absolute;
  //     left: 14px;
  //     bottom: -5px;
  //     width: 11px;
  //     height: 150px;
  //     background-color: #007fff;
  //     border: 1px solid #007fff;
  //     border-radius: 10px 10px 0 0;
  //     overflow: hidden;

  //     div {
  //       background-color: #ffffff;
  //       width: 11px;
  //       height: 100%;
  //     }
  //   }

  //   .progress_text {
  //     position: absolute;
  //     top: 30px;
  //   }
  // }
}
